@import url(https://fonts.googleapis.com/css?family=Lato:400,500,600,900);@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif !important;
  background: #f5f1e7;
}

body a {
  text-decoration: none;
}

body a:hover,
body a:focus,
body a:active {
  text-decoration: none;
  color: #ece9df;
}

body button {
  outline: none;
}

body button:hover,
body button:active,
body button:focus {
  outline: none !important;
}

body .section_title {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  color: #4c0000;
  margin-bottom: 20px;
}

body .link_to_all a {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: #4c0000;
  padding-top: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

body .link_to_all a img {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-left: 5px;
}

body .link_to_all span {
  border: solid 1px #4c0000;
  border-radius: 60px;
  padding-right: 5px;
  padding-left: 4px;
  margin-left: 5px;
}

body .link_to_all:hover a {
  color: #230202;
  -webkit-transition: .3s;
  transition: .3s;
}

body .link_to_all span.look-span {
  border: none;
  border-radius: 0;
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
}

body .post_thmb_title {
  font-size: 18px;
  font-weight: 900;
  text-align: left;
  color: #000000;
  line-height: 1.2;
}

body .post_date_thumb {
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  color: #db3648;
  margin-bottom: 15px;
}

nav.breadcrumb-custom .breadcrumb {
  background-color: transparent;
  padding-left: 0;
}

nav.breadcrumb-custom li.breadcrumb-item {
  opacity: 0.7;
  color: #4c0000;
  font-size: 15px;
  font-weight: 600;
}

nav.breadcrumb-custom li.breadcrumb-item a {
  opacity: 0.7;
  color: #4c0000;
  font-size: 15px;
  font-weight: 600;
}

nav.breadcrumb-custom li.breadcrumb-item a:hover {
  opacity: 1.0;
}

@-moz-document url-prefix()  {
  nav.breadcrumb-custom li.breadcrumb-item a {
    font-weight: 400;
  }
}

@-moz-document url-prefix()  {
  nav.breadcrumb-custom li.breadcrumb-item {
    font-weight: 400;
  }
}

.pagination-block-wrap {
  width: 100%;
}

.pagination-block-wrap .more-articles-btn {
  padding: 9px 40px;
  margin-top: 13px;
  border-radius: 25px;
  font-size: 18px;
  color: #ffffff;
}

.pagination-block-wrap .pagination-block-wrap-1 {
  text-align: right;
  top: 24px;
}

.pagination-block-wrap .pagination-block-wrap-1 p {
  font-size: 18px;
  font-weight: 600;
}

.pagination-block-wrap .pagination-block-wrap-2 {
  text-align: left;
}

.help-block {
  color: #db3648;
  font-size: 13px;
  padding-left: 13px;
}

.header {
  border-bottom: 1px rgba(174, 174, 174, 0.3) solid;
  padding: 14px 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.header .header-left {
  width: 100%;
  height: 100%;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .header-left .logo {
  float: left;
  font-size: 25px;
}

.header .header-left .logo a {
  color: #ffffff;
  font-weight: 900;
}

.header .header-left .logo a img {
  background: #ffffff;
  border-radius: 30px;
  padding: 7px 10px;
  margin-right: 5px;
}

.header .header-left .logo a span {
  font-weight: 200;
  font-size: 30px;
  position: relative;
  top: 2px;
}

.header .header-left .top_info {
  float: left;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin-top: -4px;
  border-left: 1px white solid;
  padding-left: 15px;
  margin-left: 15px;
}

@-moz-document url-prefix()  {
  .header .header-left .top_info {
    font-weight: 400;
  }
}

.header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-right .profile-pet img.icon-pet-profile {
  width: 50px;
  height: 50px;
  position: relative;
  top: -3px;
  border: 2px solid white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

.header .header-right .pet-list-block {
  position: absolute;
  top: 62px;
  width: auto;
  height: auto;
  background: white;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid silver;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.header .header-right .pet-list-block a.pet-item-link {
  display: block;
  margin-bottom: 7px;
  text-decoration: none;
  position: relative;
}

.header .header-right .pet-list-block a.pet-item-link img {
  position: relative;
  width: 105px;
  height: 105px;
  border: 1px solid transparent;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

.header .header-right .pet-list-block a.pet-item-link .pet-item-name-text {
  padding-left: 5px;
  color: #000000;
  font-size: 18px;
  text-decoration: none;
}

.header .header-right .pet-list-block a.pet-item-link .pet-item-name-text:hover {
  opacity: 0.6;
}

.header .header-right .pet-list-block a.pet-item-link.pet-item-link-active:after {
  content: "";
  position: absolute;
  z-index: 999;
  bottom: 1px;
  left: 85px;
  width: 36px;
  height: 37px;
}

.header .header-right .pet-list-block:after {
  content: '';
  position: absolute;
  left: 9px;
  top: -24px;
  border: 15px solid transparent;
  border-bottom: 17px solid #ffffff;
}

.header .header-right .profile-user img.icon-user-profile {
  width: 50px;
  height: 50px;
  position: relative;
  top: -3px;
  border: 2px solid white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

.header .header-right .profile-user .logout-custom {
  position: absolute;
  width: auto;
  height: auto;
  margin-left: 1px;
  background: white;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid silver;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.header .header-right .profile-user .logout-custom a#id_logout_custom_link,
.header .header-right .profile-user .logout-custom a#id_to_profile_user_link {
  color: #000000;
  font-weight: normal;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
}

.header .header-right .profile-user .logout-custom a#id_logout_custom_link:hover,
.header .header-right .profile-user .logout-custom a#id_to_profile_user_link:hover {
  background-color: #dd525f;
  color: #ffffff;
}

.header .header-right .profile {
  padding-top: 5px;
}

.header .header-right .profile a {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
}

.header .header-right .profile a i {
  padding: 9px 13px 9px 13px;
  border-radius: 50px;
  border: 2px white solid;
  margin-right: 6px;
  position: relative;
  top: -3px;
}

.header .header-right .profile a i:before {
  font-size: 27px;
}

.header .header-right .profile a:hover i {
  border: 2px #ffffff5e solid;
}

@-moz-document url-prefix()  {
  .header .header-right .profile a {
    font-weight: 400 !important;
  }
}

.header .header-right .add_btn {
  margin-left: 24px;
  padding-top: 3px;
}

.header .header-right .add_btn button {
  padding: 8px 18px;
  border-radius: 42px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background: none;
  border: 2px white solid;
  font-size: 18px;
  font-weight: 600;
}

.header .header-right .add_btn button span {
  font-size: 18px;
}

.header .header-right .add_btn button:hover {
  border: 2px #ffffff5e solid;
}

.header .header-right .add_btn button a {
  color: #ffffff;
}

@-moz-document url-prefix()  {
  .header .header-right .add_btn button {
    font-weight: 400 !important;
  }
}

.header .header-right .lang {
  margin-left: 30px;
  padding-top: 6px;
}

.header .header-right .lang .dropdown a.switch-language {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
}

.header .header-right .lang .dropdown a.switch-language::after {
  display: none;
}

.header .header-right .lang .dropdown a.switch-language:focus,
.header .header-right .lang .dropdown a.switch-language:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@-moz-document url-prefix()  {
  .header .header-right .lang .dropdown a {
    font-weight: 400;
  }
}

.header .header-right .lang .dropdown .dropdown-menu-list-language {
  min-width: 5rem;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.header .header-right .lang .dropdown .dropdown-menu-list-language a.dropdown-item {
  font-size: 16px;
  font-weight: 600;
  padding: 0.1rem 1.1rem;
}

@-moz-document url-prefix()  {
  .header .header-right .lang .dropdown .dropdown-menu-list-language a.dropdown-item {
    font-weight: 400;
  }
}

.header.header-not-home {
  background-color: #dd525f;
  position: relative;
}

.header.header-not-home .header-right .lang .dropdown .dropdown-menu-list-language {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 5rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.header.header-not-home .header-right .lang .dropdown .dropdown-menu-list-language a.dropdown-item:hover {
  background-color: #dd525f;
  color: #ffffff;
}

footer {
  background: #dd525f;
  width: 100%;
}

footer nav {
  position: relative;
  z-index: 1;
}

footer nav::after {
  display: inline-block;
  position: absolute;
  z-index: -1;
  top: -52px;
  left: -52px;
}

footer nav ul li {
  margin-right: 29px;
}

footer nav ul li a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

@-moz-document url-prefix()  {
  footer nav ul li a {
    font-weight: 400;
  }
}

footer nav .navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

footer .socials {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

footer .socials a {
  margin-right: 30px;
}

footer .lang-footer-mobver a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
}

footer .lang-footer-mobver a:hover {
  opacity: 1.0;
}

footer .lang-footer-mobver a.active-lang-class {
  color: #ffffff;
  opacity: 1.0;
}

footer .lang-footer-mobver a:nth-of-type(1) {
  padding-right: 5px;
}

footer .lang-footer-mobver a:nth-of-type(2) {
  padding-left: 5px;
}

@-moz-document url-prefix()  {
  footer .lang-footer-mobver a {
    font-weight: 400;
  }
}

footer.footer.footer-not-home {
  margin-top: 100px;
}

.home-filters {
  background-size: cover !important;
  background-position: center !important;
  height: 440px;
  padding-top: 112px;
  padding-bottom: 1px;
  margin-bottom: -40px;
}

.home-filters .main_filter {
  background: rgba(0, 0, 0, 0.35);
  padding: 20px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.home-filters .main_filter .search {
  height: 50px;
  max-width: 525px;
}

.home-filters .main_filter .search .input-group-text {
  background: #ffffff;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.home-filters .main_filter .search input {
  border-left: none;
  padding-left: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 18px;
}

.home-filters .main_filter .search input:focus,
.home-filters .main_filter .search input:active {
  outline: none;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.home-filters .main_filter .city {
  height: 50px;
  max-width: 370px;
  margin-left: 20px;
}

.home-filters .main_filter .city .input-group-text {
  background: #ffffff;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.home-filters .main_filter .city input {
  border-left: none;
  padding-left: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 18px;
}

.home-filters .main_filter .city input:focus,
.home-filters .main_filter .city input:active {
  outline: none;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.home-filters .main_filter button {
  padding: 11px 40px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  margin-left: 20px;
}

@-moz-document url-prefix()  {
  .home-filters .main_filter button {
    font-weight: 400;
  }
}

.home-filters .main_filter.main_filter_mobver .search input {
  border-right: 0;
}

.home-filters .main_filter.main_filter_mobver .search .input-group-append {
  position: relative;
  right: 6px;
}

.home-filters .main_filter.main_filter_mobver .search .input-group-append:hover {
  cursor: pointer;
}

.home-filters .main_filter.main_filter_mobver .search .input-group-append:hover .input-group-text {
  background-color: #dd525f;
  color: #ffffff !important;
}

.home-filters .main_filter.main_filter_mobver .search .input-group-append .input-group-text {
  background: #ffffff;
  border-right: 1px solid #ced4da;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.home-filters .main_filter.main_filter_mobver .search .input-group-append .input-group-text:nth-of-type(1) {
  font-size: 38px;
  color: #4c0000;
}

.home-filters .main_filter.main_filter_mobver .search .input-group-append .input-group-text:nth-of-type(2) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 0;
}

.home-filters .main_filter.main_filter_mobver .search .input-group-append.collapsed .input-group-text:nth-of-type(2):before {
  content: "\F0DD";
  font-size: 20px;
  padding-left: 0;
  position: relative;
  top: 4px;
  color: #4c0000;
}

.home-filters .main_filter.main_filter_mobver .search .input-group-append .input-group-text:nth-of-type(2):before {
  content: "\F0DE";
  font-size: 20px;
  position: relative;
  top: 12px;
  color: #4c0000;
}

.home-filters .main_filter.main_filter_mobver .search .input-group-append:hover .input-group-text:nth-of-type(2) {
  color: #ffffff !important;
}

.home-filters .main_filter.main_filter_mobver .search .input-group-append:hover .input-group-text:nth-of-type(2):before {
  color: #ffffff;
}

.home-filters .animal_filters {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.home-filters .animal_filters .animal {
  width: 20%;
  margin-bottom: 50px;
}

.home-filters .animal_filters .animal .img {
  float: left;
  position: relative;
  z-index: 1;
  width: 50px;
  padding-left: 10px;
}

.home-filters .animal_filters .animal .img::after {
  content: '';
  display: inline-block;
  height: 50px;
  width: 50px;
  position: absolute;
  background: #ffffff;
  top: -7px;
  left: -2px;
  z-index: -1;
  border-radius: 30px;
}

.home-filters .animal_filters .animal .anml {
  float: left;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
  padding-top: 7px;
  margin-left: 13px;
}

@-moz-document url-prefix()  {
  .home-filters .animal_filters .animal .anml {
    font-weight: 400 !important;
  }
}

.home-filters .animal_filters #dog-i-home a div.img {
  padding-left: 8px;
  padding-top: 3px;
}

.home-filters .animal_filters #rabbit-i-home a div.img {
  padding-left: 8px;
  padding-top: 3px;
}

.home-filters .animal_filters #foumart-i-home a div.img {
  padding-left: 7px;
  padding-top: 7px;
}

.home-filters .animal_filters #aves-i-home a div.img {
  padding-left: 10px;
  padding-top: 1px;
}

.home-filters .animal_filters #horse-i-home a div.img {
  padding-left: 11px;
  padding-top: 5px;
}

.home-filters .animal_filters #guineapig-i-home a div.img {
  padding-left: 7px;
  padding-top: 4px;
}

.home-filters .animal_filters #сhinchilla-i-home a div.img {
  padding-left: 9px;
  padding-top: 3px;
}

.home-filters .animal_filters #turtle-i-home a div.img {
  padding-left: 7px;
  padding-top: 5px;
}

.animal_section {
  margin-bottom: 30px;
}

.animal_section .animal_thumb {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.animal_section .animal_thumb .single_animal_thumb {
  width: 100%;
  max-width: 205px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s;
  transition: .3s;
}

.animal_section .animal_thumb .single_animal_thumb:hover {
  background-color: #fffdf7;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.animal_section .animal_thumb .single_animal_thumb .photo_section {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 66%;
  width: 100%;
  position: relative;
}

.animal_section .animal_thumb .single_animal_thumb .photo_section .block {
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  bottom: 8px;
  width: 100%;
}

.animal_section .animal_thumb .single_animal_thumb .photo_section .block .favorite {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.animal_section .animal_thumb .single_animal_thumb .photo_section .block .favorite a {
  color: #ffffff;
}

.animal_section .animal_thumb .single_animal_thumb .photo_section .block .favorite a i::before {
  font-size: 22px;
}

.animal_section .animal_thumb .single_animal_thumb .photo_section .block .like {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.animal_section .animal_thumb .single_animal_thumb .photo_section .block .like span {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}

.animal_section .animal_thumb .single_animal_thumb .info_section {
  position: relative;
  padding: 12px;
  height: 206px;
}

.animal_section .animal_thumb .single_animal_thumb .info_section .name {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 900;
  text-align: left;
  color: #000000;
}

.animal_section .animal_thumb .single_animal_thumb .info_section .city {
  margin-bottom: 10px;
}

.animal_section .animal_thumb .single_animal_thumb .info_section .city i {
  color: #db3648;
}

.animal_section .animal_thumb .single_animal_thumb .info_section .city span {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  color: #000000;
  margin-left: 10px;
}

.animal_section .animal_thumb .single_animal_thumb .info_section .age {
  margin-bottom: 10px;
}

.animal_section .animal_thumb .single_animal_thumb .info_section .age img {
  margin-top: -5px;
}

.animal_section .animal_thumb .single_animal_thumb .info_section .age span {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  color: #000000;
  margin-left: 10px;
}

.animal_section .animal_thumb .single_animal_thumb .info_section .breed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.animal_section .animal_thumb .single_animal_thumb .info_section .breed span:nth-child(2) {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  color: #000000;
  margin-left: 10px;
  line-height: 1.2;
}

.animal_section .animal_thumb .single_animal_thumb .price_section {
  width: 90%;
  position: absolute;
  bottom: 5px;
}

.animal_section .animal_thumb .single_animal_thumb .price_section .price {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: #000000;
}

.animal_section .animal_thumb .single_animal_thumb .price_section .gender {
  position: absolute;
  right: 0;
  bottom: 5px;
}

.home_posts {
  margin-bottom: 60px;
}

.home_posts .big_thumb {
  width: 100%;
  border-radius: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s;
  transition: .3s;
}

.home_posts .big_thumb .img_thumb {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  padding-top: 45%;
  background-position: center;
  background-size: cover;
}

.home_posts .big_thumb .txt {
  padding: 18px 15px 65px 15px;
}

.home_posts .big_thumb:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #fffdf7;
}

.home_posts .small_thumb {
  margin-bottom: 25px;
  border-radius: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 17px;
  -webkit-transition: .3s;
  transition: .3s;
}

.home_posts .small_thumb .media .img_thmb {
  width: 120px;
  padding-top: 120px;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  margin-right: 14px;
}

@-moz-document url-prefix()  {
  .home_posts .small_thumb .media .img_thmb {
    padding-top: 120px;
  }
}

.home_posts .small_thumb:hover {
  background: #fffdf7;
  -webkit-transition: .3s;
  transition: .3s;
}

.home_info {
  margin-bottom: 45px;
}

.home_info .info_single {
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 14px 0 31px 14px;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.home_info .info_single .icon {
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #dd525f;
  border-radius: 35px;
  margin-bottom: 20px;
}

.home_info .info_single .txt {
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  color: #000000;
  padding-right: 40px;
}

.jq-selectbox__select {
  border: none !important;
  border-bottom-color: transparent !important;
  border-radius: 4px !important;
  background: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #000000 !important;
  text-shadow: none !important;
  font-size: 18px;
  height: 26px !important;
  font-family: Lato;
  font-weight: 600;
  font-style: normal;
}

.jq-selectbox__trigger {
  top: -13px;
  border-left: none;
  /*position: absolute;*/
  /*right: 0px;*/
  /*width: 39px;*/
  /*height: 100%;*/
}

.jq-selectbox__trigger .jq-selectbox__trigger-arrow {
  border-top: 8px solid #4c0000;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.main_filter_mobver .card-filter-content .form-control {
  border-top: none !important;
  margin-bottom: 12px !important;
  padding: 4px 12px !important;
}

section.about-us-section {
  margin-top: 39px;
}

section.about-us-section .about-us-info-wrap {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

section.about-us-section .about-us-info-wrap h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-top: 15px;
}

@-moz-document url-prefix()  {
  section.about-us-section .about-us-info-wrap h1 {
    font-weight: 400;
  }
}

section.about-us-section .about-us-info-wrap p {
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  opacity: 0.9;
  padding-right: 40px;
}

section.about-us-section .about-us-info-wrap p:nth-of-type(2) {
  margin-bottom: 0;
  padding-bottom: 20px;
}

@-moz-document url-prefix()  {
  section.about-us-section .about-us-info-wrap p {
    font-weight: 400;
  }
}

section.about-us-section .about-us-info-wrap .col-about-us-info-bg {
  display: block;
  width: 100%;
  min-height: inherit;
  position: relative;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: 50% 50% !important;
  z-index: 0;
}

section.about-us-section .about-us-info-wrap .col {
  background-color: #ffffff;
  padding-right: 0;
}

section.about-us-section .accordion-custom-grid-wrap {
  margin-top: 30px;
  margin-bottom: 55px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

section.about-us-section .accordion-custom-grid-wrap .accordion-custom {
  padding: 20px 0 10px 0;
}

section.about-us-section .accordion-custom-grid-wrap .accordion-custom .card {
  margin-bottom: 15px;
  border: none;
  border: solid 1px #ebebeb;
  border-radius: 10px;
}

section.about-us-section .accordion-custom-grid-wrap .accordion-custom .card .card-header {
  padding: 0.75rem 0.25rem;
  background-color: #f7f7f7;
  border-bottom: none;
  border-radius: 10px;
}

section.about-us-section .accordion-custom-grid-wrap .accordion-custom .card .card-header h5 {
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  cursor: pointer;
  padding: 0 10px 0 10px;
}

section.about-us-section .accordion-custom-grid-wrap .accordion-custom .card .card-header h5:hover {
  text-decoration: none;
}

section.about-us-section .accordion-custom-grid-wrap .accordion-custom .card .card-header h5.collapsed .caret-custom {
  float: right;
  position: relative;
  top: -6px;
}

section.about-us-section .accordion-custom-grid-wrap .accordion-custom .card .card-header h5.collapsed .caret-custom:before {
  content: "\F0DD";
  font-size: 20px;
  padding-left: 0;
  position: relative;
  top: 4px;
  color: #a68080;
}

section.about-us-section .accordion-custom-grid-wrap .accordion-custom .card .card-header h5 .caret-custom {
  float: right;
  position: relative;
  top: 0;
}

section.about-us-section .accordion-custom-grid-wrap .accordion-custom .card .card-header h5 .caret-custom:before {
  content: "\F0DE";
  font-size: 20px;
  padding-left: 0;
  position: relative;
  top: 4px;
  color: #a68080;
}

@-moz-document url-prefix()  {
  section.about-us-section .accordion-custom-grid-wrap .accordion-custom .card .card-header h5 {
    font-weight: 400;
  }
}

section.about-us-section .accordion-custom-grid-wrap .accordion-custom .card-body {
  line-height: 1.4;
  text-align: left;
}

section.about-us-section .accordion-custom-grid-wrap h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-top: 15px;
}

@-moz-document url-prefix()  {
  section.about-us-section .accordion-custom-grid-wrap h1 {
    font-weight: 400;
  }
}

section.about-us-section .accordion-custom-grid-wrap h6 {
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

@-moz-document url-prefix()  {
  section.about-us-section .accordion-custom-grid-wrap h6 {
    font-weight: 400;
  }
}

section.about-us-section .accordion-custom-grid-wrap-two {
  padding-left: 30px;
  height: 160px;
}

section.about-us-section .about-us-to-contacts-btn {
  padding: 9px 40px;
  margin-top: 13px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

section.about-us-section .about-us-to-contacts-btn:hover {
  color: #ffffff;
}

section.contacts_section {
  margin-top: 60px;
  margin-bottom: 249px;
}

section.contacts_section .contact-info-wrap {
  padding-top: 15px;
}

section.contacts_section .contact-info-wrap h1,
section.contacts_section .contact-info-wrap p {
  padding-left: 15px;
}

section.contacts_section .contact-info-wrap h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-top: 15px;
}

@-moz-document url-prefix()  {
  section.contacts_section .contact-info-wrap h1 {
    font-weight: 400;
  }
}

section.contacts_section .contact-info-wrap p {
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

@-moz-document url-prefix()  {
  section.contacts_section .contact-info-wrap p {
    font-weight: 400;
  }
}

section.contacts_section .contact-info-wrap form[name=contact_us_home_form] textarea {
  resize: none;
}

section.contacts_section .contact-info-wrap form[name=contact_us_home_form] button[name=btn_submit_contact_us_home_form] {
  padding: 9px 40px;
  margin-top: 13px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

section.contacts_section .contact-info-wrap form[name=contact_us_home_form] .form-group input:focus,
section.contacts_section .contact-info-wrap form[name=contact_us_home_form] .form-group input active,
section.contacts_section .contact-info-wrap form[name=contact_us_home_form] .form-group textarea:focus,
section.contacts_section .contact-info-wrap form[name=contact_us_home_form] .form-group textarea active {
  border-color: #dc3545;
  -webkit-box-shadow: none;
          box-shadow: none;
}

section.contacts_section .contact-info-wrap form[name=contact_us_home_form] .form-group input:visited,
section.contacts_section .contact-info-wrap form[name=contact_us_home_form] .form-group textarea:visited {
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

section.contacts_section .contact-info-wrap .col-contacts-info-bg {
  display: block;
  width: 100%;
  min-height: inherit;
  position: relative;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: 50% 50% !important;
  z-index: 0;
}

.articles-section {
  margin-top: 60px;
}

.articles-section h1 {
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 25px;
}

@-moz-document url-prefix()  {
  .articles-section h1 {
    font-weight: 400;
  }
}

.articles-section .small_thumb .media .img_thmb {
  width: 176px;
  padding-top: 176px;
}

.posts-articles-section .small_thumb .media .media-body .post_thmb_title {
  margin-bottom: 14px;
}

@-moz-document url-prefix()  {
  .posts-articles-section .small_thumb .media .media-body .post_thmb_title {
    font-weight: 600;
  }
}

.posts-articles-section .small_thumb .media .media-body .post_thmb_description {
  display: inline-block;
  text-align: left;
  opacity: 0.8;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  text-align: justify;
  text-justify: inter-word;
}

@-moz-document url-prefix()  {
  .posts-articles-section .small_thumb .media .media-body .post_thmb_description {
    font-weight: 400;
  }
}

.posts-articles-section .small_thumb .media .media-body .post_thmb_direction {
  margin-top: 22px;
  opacity: 0.5;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

.posts-articles-section .small_thumb .media .media-body .post_thmb_direction span:nth-of-type(1) a {
  display: inline-block;
  text-align: left;
  opacity: 0.5;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

.posts-articles-section .small_thumb .media .media-body .post_thmb_direction span:nth-of-type(1) a:hover {
  opacity: 1.0;
}

@-moz-document url-prefix()  {
  .posts-articles-section .small_thumb .media .media-body .post_thmb_direction span:nth-of-type(1) a {
    font-weight: 400;
  }
}

.posts-articles-section .small_thumb .media .media-body .post_thmb_direction span:nth-of-type(2) {
  display: inline-block;
  text-align: right;
  float: right;
  opacity: 0.5;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

@-moz-document url-prefix()  {
  .posts-articles-section .small_thumb .media .media-body .post_thmb_direction span:nth-of-type(2) {
    font-weight: 400 !important;
  }
}

.posts-articles-section .txt {
  padding: 18px 15px 28px 15px !important;
}

.posts-articles-section .txt .post_thmb_title {
  margin-bottom: 14px;
}

@-moz-document url-prefix()  {
  .posts-articles-section .txt .post_thmb_title {
    font-weight: 600;
  }
}

.posts-articles-section .txt .post_thmb_description {
  display: inline-block;
  text-align: left;
  opacity: 0.8;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  text-align: justify;
  text-justify: inter-word;
}

@-moz-document url-prefix()  {
  .posts-articles-section .txt .post_thmb_description {
    font-weight: 400;
  }
}

.posts-articles-section .txt .post_thmb_direction {
  margin-top: 22px;
  opacity: 0.5;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

.posts-articles-section .txt .post_thmb_direction span:nth-of-type(1) a {
  display: inline-block;
  text-align: left;
  opacity: 0.5;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

.posts-articles-section .txt .post_thmb_direction span:nth-of-type(1) a:hover {
  opacity: 1.0;
}

@-moz-document url-prefix()  {
  .posts-articles-section .txt .post_thmb_direction span:nth-of-type(1) a {
    font-weight: 400;
  }
}

.posts-articles-section .txt .post_thmb_direction span:nth-of-type(2) {
  display: inline-block;
  text-align: right;
  float: right;
  opacity: 0.5;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

@-moz-document url-prefix()  {
  .posts-articles-section .txt .post_thmb_direction span:nth-of-type(2) {
    font-weight: 400;
  }
}

.posts-articles-section .pagination-block-wrap {
  width: 100%;
}

.posts-articles-section .pagination-block-wrap .more-articles-btn {
  padding: 9px 40px;
  margin-top: 13px;
  border-radius: 25px;
  font-size: 18px;
  color: #ffffff;
}

.posts-articles-section .pagination-block-wrap .pagination-block-wrap-1 {
  text-align: right;
  top: 24px;
}

.posts-articles-section .pagination-block-wrap .pagination-block-wrap-1 p {
  font-size: 18px;
  font-weight: 600;
}

.posts-articles-section .pagination-block-wrap .pagination-block-wrap-2 {
  text-align: left;
}

section.single-articles-section .posts-articles-section .post_thmb_description .img_thumb {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 15px;
}

section.single-articles-section .posts-articles-section .post_thmb_direction {
  opacity: 1.0;
}

section.single-articles-section .posts-articles-section .post_thmb_direction .comment-it a {
  background-color: #ffffff;
  padding: 7px 25px;
  margin-top: 13px;
  border-radius: 25px;
  font-size: 18px;
  color: #db3648;
  border: 2px solid #db3648;
  opacity: 1.0;
}

section.single-articles-section .posts-articles-section .post_thmb_direction .comment-it a:hover {
  background-color: #db3648;
  color: #ffffff;
}

section.single-articles-section .posts-articles-section .post_thmb_direction .social-link {
  opacity: 1.0;
  position: relative;
  top: 15px;
}

section.single-articles-section .posts-articles-section .post_thmb_direction .social-link a {
  opacity: 1.0;
  padding-left: 5px;
}

section.single-articles-section .posts-articles-section .post_thmb_direction .social-link a:nth-of-type(1) {
  padding-left: 12px;
}

section.right-sidebar {
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

section.right-sidebar form.articles-filter-form {
  margin-bottom: 17px;
}

section.right-sidebar form.articles-filter-form .search {
  position: relative;
  top: 9px;
}

section.right-sidebar form.articles-filter-form input.articles-filter-form-input {
  padding-left: 0;
  border: none;
  color: #4c0000;
  font-size: 18px;
  padding-top: 0;
  padding-bottom: 0;
}

section.right-sidebar form.articles-filter-form input.articles-filter-form-input:active,
section.right-sidebar form.articles-filter-form input.articles-filter-form-input:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

section.right-sidebar form.articles-filter-form .articles-filter-form-button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

section.right-sidebar .animal_filters {
  padding-top: 9px;
  padding-bottom: 15px;
  margin-bottom: 26px;
}

section.right-sidebar .animal_filters .animal {
  margin-bottom: 19px;
}

section.right-sidebar .animal_filters .animal .img {
  display: inherit;
  padding-right: 12px;
  position: relative;
}

section.right-sidebar .animal_filters .animal .anml {
  display: inherit;
  position: relative;
  top: 2px;
  font-size: 18px;
  color: #000000;
}

section.right-sidebar .animal_filters .animal .anml:hover {
  opacity: 0.6;
}

section.right-sidebar .animal_filters .animal .anml a:hover {
  opacity: 0.6;
}

section.right-sidebar form.articles-filter-form-mobver .search .input-group-append {
  background-color: transparent;
  cursor: pointer;
}

section.right-sidebar form.articles-filter-form-mobver .search .input-group-append span.input-group-text:nth-of-type(1) {
  background-color: transparent;
  border: none;
  font-size: 38px;
  color: #4c0000;
  padding-top: 0;
  padding-bottom: 0;
}

section.right-sidebar form.articles-filter-form-mobver .search .input-group-append span.input-group-text:nth-of-type(2) {
  background-color: transparent;
  border: none;
  padding-right: 5px;
  padding-left: 0;
  padding-top: 2px;
}

section.right-sidebar form.articles-filter-form-mobver .search .input-group-append span.input-group-text:nth-of-type(2):before {
  content: "\F0DE";
  font-size: 20px;
  padding-left: 0;
  position: relative;
  top: 12px;
  color: #4c0000;
}

section.right-sidebar form.articles-filter-form-mobver .search .input-group-append.collapsed span.input-group-text:nth-of-type(2):before {
  content: "\F0DD";
  font-size: 20px;
  padding-left: 0;
  position: relative;
  top: 4px;
  color: #4c0000;
}

section.popular_block .popular-posts-articles-section {
  margin-top: 35px;
}

section.popular_block .popular-posts-articles-section h1 {
  margin-bottom: 17px;
}

section.popular_block .popular-posts-articles-section .popular-post-item .media .img_thmb {
  width: 110px;
  padding-top: 110px;
}

section.popular_block .popular-posts-articles-section .popular-post-item .media .post_thmb_title {
  font-size: 17px;
}

section.popular_block .popular-posts-articles-section .popular-post-item .media .post_thmb_direction {
  display: inline-block;
  text-align: left;
  opacity: 0.5;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  margin-top: 8px;
}

@-moz-document url-prefix()  {
  section.popular_block .popular-posts-articles-section .popular-post-item .media .post_thmb_direction {
    font-weight: 400;
  }
}

section.popular_block .popular-posts-articles-section .popular-post-item .media .post_date_thumb {
  margin-bottom: 6px;
}

section.popular_block .popular-posts-articles-section .link_to_all {
  position: relative;
  top: -5px;
}

section.home-filters-search-result {
  padding-top: 45px;
  margin-bottom: -145px;
}

section.home-filters-search-result form.main_filter #keyword_n_city_input_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px;
}

section.home-filters-search-result #pet_type_input_search {
  padding-right: 0;
}

section.home-filters-search-result #pet_type_input_search .jq-selectbox__select {
  padding-left: 0;
}

section.home-filters-search-result #pet_type_input_search .jq-selectbox.jqselect {
  min-height: 50px;
  padding-top: 8px;
  border-radius: 6px;
}

section.home-filters-search-result #pet_type_input_search .jq-selectbox.jqselect .jq-selectbox__select-text {
  font-family: Lato, sans-serif !important;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: #4c0000;
}

section.home-filters-search-result #pet_type_input_search .jq-selectbox.jqselect .jq-selectbox__trigger {
  top: -1px;
  opacity: 0.6;
}

section.home-filters-search-result #pet_type_input_search #pet_type-styler {
  position: relative;
  z-index: 1;
}

section.home-filters-search-result #pet_type_input_search #pet_type-styler div.jq-selectbox__select div.jq-selectbox__select-text {
  padding-left: 33px;
}

section.home-filters-search-result #pet_type_input_search #pet_type-styler:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 10px;
  left: 8px;
  width: 25px;
  height: 28px;
}

section.home-filters-search-result #pet_type_input_search.cats #pet_type-styler:before {
  top: 7px;
  width: 22px;
  height: 32px;
}

section.home-filters-search-result #pet_type_input_search.rabbits #pet_type-styler:before {
  top: 10px;
  width: 29px;
  height: 26px;
}

section.home-filters-search-result #pet_type_input_search.guinea-pigs #pet_type-styler:before {
  top: 15px;
  width: 33px;
  height: 19px;
}

section.home-filters-search-result #pet_type_input_search.ferrets #pet_type-styler:before {
  top: 17px;
  width: 33px;
  height: 21px;
}

section.home-filters-search-result #pet_type_input_search.chinchillas #pet_type-styler:before {
  top: 11px;
  width: 29px;
  height: 23px;
}

section.home-filters-search-result #pet_type_input_search.birds #pet_type-styler:before {
  top: 10px;
  width: 22px;
  height: 32px;
}

section.home-filters-search-result #pet_type_input_search.turtles #pet_type-styler:before {
  top: 17px;
  width: 32px;
  height: 17px;
}

section.home-filters-search-result #pet_type_input_search.horses #pet_type-styler:before {
  top: 10px;
  width: 29px;
  height: 27px;
}

section.home-filters-search-result #breed_input_search {
  padding-right: 0;
}

section.home-filters-search-result #breed_input_search .jq-selectbox__select {
  padding-left: 0;
}

section.home-filters-search-result #breed_input_search .jq-selectbox.jqselect {
  min-height: 50px;
  padding-top: 8px;
  border-radius: 6px;
}

section.home-filters-search-result #breed_input_search .jq-selectbox.jqselect .jq-selectbox__select-text {
  font-family: Lato, sans-serif !important;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: #4c0000;
}

section.home-filters-search-result #breed_input_search .jq-selectbox.jqselect .jq-selectbox__trigger {
  top: -1px;
  opacity: 0.6;
}

section.home-filters-search-result #gender_input_search {
  padding-right: 0;
}

section.home-filters-search-result #gender_input_search .jq-selectbox__select {
  padding-left: 0;
}

section.home-filters-search-result #gender_input_search .jq-selectbox.jqselect {
  min-height: 50px;
  padding-top: 8px;
  border-radius: 6px;
}

section.home-filters-search-result #gender_input_search .jq-selectbox.jqselect .jq-selectbox__select-text {
  font-family: Lato, sans-serif !important;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: #4c0000;
}

section.home-filters-search-result #gender_input_search .jq-selectbox.jqselect .jq-selectbox__trigger {
  top: -1px;
  opacity: 0.6;
}

section.home-filters-search-result #color_pet_input_search {
  padding-right: 0;
}

section.home-filters-search-result #color_pet_input_search .jq-selectbox__select {
  padding-left: 0;
}

section.home-filters-search-result #color_pet_input_search .jq-selectbox.jqselect {
  min-height: 50px;
  padding-top: 8px;
  border-radius: 6px;
}

section.home-filters-search-result #color_pet_input_search .jq-selectbox.jqselect .jq-selectbox__select-text {
  font-family: Lato, sans-serif !important;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: #4c0000;
}

section.home-filters-search-result #color_pet_input_search .jq-selectbox.jqselect .jq-selectbox__trigger {
  top: -1px;
  opacity: 0.6;
}

section.home-filters-search-result #filter_select_input_search .jq-selectbox__select {
  padding-left: 0;
}

section.home-filters-search-result #filter_select_input_search .jq-selectbox.jqselect {
  min-height: 50px;
  padding-top: 8px;
  border-radius: 6px;
}

section.home-filters-search-result #filter_select_input_search .jq-selectbox.jqselect .jq-selectbox__select-text {
  font-family: Lato, sans-serif !important;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: #4c0000;
}

section.home-filters-search-result #filter_select_input_search .jq-selectbox.jqselect .jq-selectbox__trigger {
  top: -1px;
  opacity: 0.6;
}

section.animal-section-in-search-result .animal_thumb {
  margin-bottom: 31px;
}

.app-user-registered-block .login-user-view {
  margin-top: 110px;
  margin-bottom: 295px;
}

.app-user-registered-block .login-user-view .panel-tab-switch-register-window {
  width: 50%;
}

.app-user-registered-block .login-user-view .panel-tab-switch-register-window .tab-login,
.app-user-registered-block .login-user-view .panel-tab-switch-register-window .tab-register {
  height: 38px;
  background-color: #fcfbf8;
  border: 1px solid #ced4da;
  border-radius: 0.4rem;
}

.app-user-registered-block .login-user-view .panel-tab-switch-register-window .tab-login a,
.app-user-registered-block .login-user-view .panel-tab-switch-register-window .tab-register a {
  text-decoration: none;
  position: relative;
  top: 5px;
}

.app-user-registered-block .login-user-view .panel-tab-switch-register-window .tab-login a div,
.app-user-registered-block .login-user-view .panel-tab-switch-register-window .tab-register a div {
  opacity: 0.4;
  color: #000000;
  font-size: 18px;
}

.app-user-registered-block .login-user-view .panel-tab-switch-register-window .tab-login a div:hover,
.app-user-registered-block .login-user-view .panel-tab-switch-register-window .tab-register a div:hover {
  opacity: 1.0;
}

.app-user-registered-block .login-user-view .panel-tab-switch-register-window .tab-login {
  border-right: none;
}

.app-user-registered-block .login-user-view .panel-tab-switch-register-window .tab-register {
  border: none;
}

.app-user-registered-block .login-user-view .panel-tab-switch-register-window .tab-login.tab-active,
.app-user-registered-block .login-user-view .panel-tab-switch-register-window .tab-register.tab-active {
  background-color: #ffffff;
  border-bottom: 3px solid #db3648;
}

.app-user-registered-block .login-user-view .panel-tab-switch-register-window .tab-login.tab-active {
  border-right: 1px solid #ced4da;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.app-user-registered-block .login-user-view .panel-tab-switch-register-window .tab-login.tab-active span {
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  position: relative;
  top: 5px;
}

.app-user-registered-block .login-user-view .panel-tab-switch-register-window .tab-register.tab-active {
  border-left: 1px solid #ced4da;
}

.app-user-registered-block .login-user-view .panel-content-window {
  width: 50%;
}

.app-user-registered-block .login-user-view .panel-content-window form.form-user-auth .form-group input {
  color: #4c0000;
  font-size: 18px;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.app-user-registered-block .login-user-view .panel-content-window form.form-user-auth button[name=btn_submit_login_form] {
  padding: 9px 40px;
  margin-top: 13px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.app-user-registered-block .login-user-view .panel-content-window form.form-user-auth .forget-password-link {
  color: #000000;
  font-size: 15px;
  margin-top: 11px;
  text-decoration: none;
  font-weight: 600;
}

.app-user-registered-block .login-user-view .panel-content-window form.form-user-auth .forget-password-link:hover {
  opacity: 0.6;
}

.app-user-registered-block .login-user-view .panel-content-login-with_social-resources {
  width: 50%;
}

.app-user-registered-block .login-user-view .panel-content-login-with_social-resources .enter-with-block {
  margin-bottom: 22px;
}

.app-user-registered-block .login-user-view .panel-content-login-with_social-resources .enter-with-block .enter-with-text {
  color: #4c0000;
  font-size: 18px;
  font-weight: 600;
  padding: 0 15px 0 15px;
}

@-moz-document url-prefix()  {
  .app-user-registered-block .login-user-view .panel-content-login-with_social-resources .enter-with-block .enter-with-text {
    font-weight: 400;
  }
}

.app-user-registered-block .register-user-view {
  margin-top: 110px;
  margin-bottom: 230px;
}

.app-user-registered-block .register-user-view .panel-tab-switch-register-window {
  width: 50%;
}

.app-user-registered-block .register-user-view .panel-tab-switch-register-window .tab-login,
.app-user-registered-block .register-user-view .panel-tab-switch-register-window .tab-register {
  height: 38px;
  background-color: #fcfbf8;
  border: 1px solid #ced4da;
  border-radius: 0.4rem;
}

.app-user-registered-block .register-user-view .panel-tab-switch-register-window .tab-login a,
.app-user-registered-block .register-user-view .panel-tab-switch-register-window .tab-register a {
  text-decoration: none;
  position: relative;
  top: 5px;
}

.app-user-registered-block .register-user-view .panel-tab-switch-register-window .tab-login a div,
.app-user-registered-block .register-user-view .panel-tab-switch-register-window .tab-register a div {
  opacity: 0.4;
  color: #000000;
  font-size: 18px;
}

.app-user-registered-block .register-user-view .panel-tab-switch-register-window .tab-login a div:hover,
.app-user-registered-block .register-user-view .panel-tab-switch-register-window .tab-register a div:hover {
  opacity: 1.0;
}

.app-user-registered-block .register-user-view .panel-tab-switch-register-window .tab-login {
  border: none;
}

.app-user-registered-block .register-user-view .panel-tab-switch-register-window .tab-register {
  border: none;
}

.app-user-registered-block .register-user-view .panel-tab-switch-register-window .tab-login.tab-active,
.app-user-registered-block .register-user-view .panel-tab-switch-register-window .tab-register.tab-active {
  background-color: #ffffff;
  border-bottom: 3px solid #db3648;
}

.app-user-registered-block .register-user-view .panel-tab-switch-register-window .tab-register.tab-active {
  border-right: 1px solid #ced4da;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.app-user-registered-block .register-user-view .panel-tab-switch-register-window .tab-register.tab-active span {
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  position: relative;
  top: 5px;
}

.app-user-registered-block .register-user-view .panel-tab-switch-register-window .tab-register.tab-active {
  border-left: 1px solid #ced4da;
  border-top: 1px solid #ced4da;
}

.app-user-registered-block .register-user-view .panel-content-window {
  width: 50%;
}

.app-user-registered-block .register-user-view .panel-content-window form.form-user-auth .form-group input {
  color: #4c0000;
  font-size: 18px;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.app-user-registered-block .register-user-view .panel-content-window form.form-user-auth button[name=btn_submit_register_form] {
  padding: 9px 40px;
  margin-top: 13px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.app-user-registered-block .register-user-view .panel-content-window form.form-user-auth .forget-password-link {
  color: #000000;
  font-size: 15px;
  margin-top: 11px;
  text-decoration: none;
  font-weight: 600;
}

.app-user-registered-block .register-user-view .panel-content-window form.form-user-auth .forget-password-link:hover {
  opacity: 0.6;
}

.app-user-registered-block .register-user-view .panel-content-login-with_social-resources {
  width: 50%;
}

.app-user-registered-block .register-user-view .panel-content-login-with_social-resources .enter-with-block {
  margin-bottom: 22px;
}

.app-user-registered-block .register-user-view .panel-content-login-with_social-resources .enter-with-block .enter-with-text {
  color: #4c0000;
  font-size: 18px;
  font-weight: 600;
  padding: 0 15px 0 15px;
}

@-moz-document url-prefix()  {
  .app-user-registered-block .register-user-view .panel-content-login-with_social-resources .enter-with-block .enter-with-text {
    font-weight: 400;
  }
}

/* ** #MEDIA-QUERY ** */

@media screen and (max-width: 1199px) {
  .header {
    background-color: #dd525f;
    padding: 7px 0;
  }

  .header .header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header .header-right .profile {
    padding-top: 5px;
  }

  .header .header-right .profile a i {
    padding: 6px 0px 6px 9px;
    border-radius: 0;
    border: none;
    font-size: 30px;
  }

  .header .header-right .profile a i:before {
    font-size: 30px;
  }

  .header .header-right .profile a:hover i {
    border: 0;
  }

  .header .add_btn button {
    padding: 8px 8px !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    background: none;
    border: none !important;
    font-size: 18px;
    font-weight: 600;
  }

  .header .add_btn button span {
    font-size: 30px !important;
    color: #ffffff;
  }

  .header .add_btn button:hover {
    border: 0;
  }

@-moz-document url-prefix()  {
    .header .add_btn button {
      font-weight: 400 !important;
    }
}

  .home-filters .animal_filters {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3rem;
  }

  .home-filters .animal_filters .animal {
    width: 7%;
  }

  .home_info .info_single {
    background-position: center;
    background-size: cover;
  }

  footer .socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 13px;
  }

  section.popular_block .popular-posts-articles-section .popular-post-item .media .post_thmb_title {
    font-size: 15px;
  }

  section.home-filters-search-result form.main_filter #keyword_n_city_input_search .search {
    max-width: 425px;
  }

  section.home-filters-search-result form.main_filter #keyword_n_city_input_search .city {
    max-width: 290px;
  }

  section.home-filters-search-result form.main_filter #color_pet_input_search {
    padding-right: 15px;
  }

  section.home-filters-search-result form.main_filter #color_pet_input_search .jq-selectbox.jqselect {
    min-height: 50px;
    padding-top: 8px;
  }

  section.home-filters-search-result form.main_filter #color_pet_input_search .jq-selectbox.jqselect .jq-selectbox__trigger {
    top: -1px;
  }

  section.home-filters-search-result #filter_select_input_search {
    margin: 0 auto;
    margin-top: 15px;
  }
}

/*__/1199px */

/* LG = from 1199px till 992px  (Class prefix .col-lg-) */

@media screen and (max-width: 991px) {
  .home-filters {
    background: none !important;
    height: auto;
    padding-top: 0;
    margin-top: 112px;
  }

  .home-filters .main_filter {
    background: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .home-filters .main_filter .input-group.search {
    margin: 0 auto;
    max-width: 100%;
  }

  .home-filters .main_filter button {
    width: 50%;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .home-filters .main_filter a {
    width: 50%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .home-filters .main_filter a button {
    width: 100%;
  }

  .home-filters .collapse {
    position: relative;
    padding-left: 1px;
    padding-right: 6px;
    margin-top: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .home-filters .collapse .card.card-filter-content {
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .home-filters .collapse .card.card-filter-content label {
    font-size: 18px;
    color: lightgray;
    border: 1px solid lightgray;
    margin-bottom: -5px;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    padding-left: 21px;
  }

  .home-filters .collapse .card.card-filter-content label:nth-of-type(1) {
    margin-top: 10px;
  }

  .home-filters .collapse .card.card-filter-content select.form-control {
    font-size: 18px;
    font-weight: 400;
    border-top: none;
    margin-bottom: 15px;
  }

  .home-filters .collapse .card.card-filter-content select.form-control:active,
  .home-filters .collapse .card.card-filter-content select.form-control:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    border: 1px solid #ced4da;
    border-top: none;
    margin-bottom: 15px;
  }

  .animal_section {
    margin-top: 45px;
  }

  footer {
    height: 146px;
  }

  footer nav.footer-nav.navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.9rem 1rem 0.1rem 1rem;
  }

  footer nav.footer-nav.navbar:after {
    left: 50%;
  }

  section.about-us-section .about-us-info-wrap p {
    padding-right: 15px;
  }

  section.about-us-section .accordion-custom-grid-wrap {
    margin-bottom: 4px;
    text-align: center;
  }

  section.about-us-section .accordion-custom-grid-wrap-two {
    padding-left: 15px;
  }

  section.about-us-section .about-us-to-contacts-btn {
    width: 50%;
  }

  section.contacts_section .contact-info-wrap form[name=contact_us_home_form] button[name=btn_submit_contact_us_home_form] {
    width: 50%;
  }

  section.single_articles_section .home_posts.posts-articles-section {
    margin-bottom: 25px !important;
  }

  div.popular-block-separately-for-mobile {
    margin-top: -33px;
  }

  div.popular-block-separately-for-mobile .popular-posts-articles-section h1 {
    font-size: 21px;
  }

  section.home-filters-search-result {
    padding-top: 1px;
    margin-top: 40px;
    margin-bottom: -34px;
  }

  .app-user-registered-block .login-user-view .panel-tab-switch-register-window {
    width: 100%;
  }

  .app-user-registered-block .login-user-view .panel-content-window {
    width: 100%;
  }

  .app-user-registered-block .login-user-view .panel-content-login-with_social-resources {
    width: 100%;
  }

  .app-user-registered-block .register-user-view .panel-tab-switch-register-window {
    width: 100%;
  }

  .app-user-registered-block .register-user-view .panel-content-window {
    width: 100%;
  }

  .app-user-registered-block .register-user-view .panel-content-login-with_social-resources {
    width: 100%;
  }

  .panel-content-login-with_social-resources {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .home-filters {
    background: none !important;
  }

  .home-filters h2.section_title {
    text-align: center;
  }

  .home-filters .main_filter button,
  .home-filters .main_filter a {
    width: 70%;
  }

  footer nav.footer-nav.navbar:after {
    left: 40%;
  }

  .animal_section .link_to_all {
    margin-top: 5px;
  }

  .home_posts .link_to_all {
    margin-top: 5px;
  }

  section.contacts_section .contact-info-wrap form[name=contact_us_home_form] button[name=btn_submit_contact_us_home_form] {
    width: 70%;
  }
}

@media screen and (max-width: 575px) {
  .header .header-right .add_btn {
    margin-left: 0;
  }

  .header .header-right .add_btn button {
    padding: 8px 3px !important;
  }

  .header .header-right .pet-list-block {
    width: 90%;
    text-align: center !important;
  }

  .header .header-right .pet-list-block:after {
    left: 30%;
  }

  .header .header-right .pet-list-block .pet-item-link {
    display: inline-block !important;
  }

  .header .header-left .logo a img {
    margin-right: 0 !important;
  }

  footer nav.footer-nav.navbar:after {
    left: 15%;
  }

  footer nav.footer-nav.navbar ul li a {
    font-size: 13px;
  }

  footer .socials a:nth-of-type(3) {
    margin-right: 0;
  }

  .animal_section .section_title {
    text-align: center;
    font-size: 22px;
    line-height: 1.2;
  }

  .animal_section .link_to_all {
    text-align: center;
    margin-bottom: 18px;
  }

  .home_posts .section_title {
    text-align: center;
    font-size: 22px;
    line-height: 1.2;
  }

  .home_posts .link_to_all {
    text-align: center;
    margin-bottom: 18px;
  }

  .home_posts .small_thumb .post_thmb_title,
  .home_posts .big_thumb .post_thmb_title {
    font-size: 15px;
  }

  .home_posts .small_thumb .media .media-body .post_thmb_title,
  .home_posts .big_thumb .media .media-body .post_thmb_title {
    font-size: 15px;
  }

  .home-filters .main_filter .search input {
    font-size: 18px;
  }

  section.articles-section .posts-articles-section .small_thumb .media .img_thmb {
    width: 129px;
    padding-top: 129px;
  }

  section.single-articles-section .posts-articles-section .txt .post_thmb_title {
    font-size: 18px;
  }

  section.single-articles-section .posts-articles-section .txt .post_thmb_description p {
    font-size: 13px;
  }

  .app-user-registered-block .login-user-view {
    margin-top: 70px;
  }

  .app-user-registered-block .login-user-view .panel-content-window button[name=btn_submit_login_form] {
    padding: 9px 88px !important;
  }

  .app-user-registered-block .register-user-view {
    margin-top: 70px;
  }

  .app-user-registered-block .register-user-view .panel-content-window button[name=btn_submit_login_form] {
    padding: 9px 88px !important;
  }

  .panel-content-login-with_social-resources .facebook-register-blc,
  .panel-content-login-with_social-resources .google-register-blc {
    text-align: center !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .panel-content-login-with_social-resources .facebook-register-blc {
    margin-bottom: 11px;
  }
}

@media screen and (max-width: 439px) {
  .animal_section .animal_thumb .single_animal_thumb {
    margin-right: 0;
  }

  .home-filters .main_filter .search input {
    font-size: 15px;
  }

  section.articles-section .posts-articles-section .txt-mobversion .post_thmb_title {
    margin-bottom: 10px;
  }

  section.articles-section .posts-articles-section .txt-mobversion .post_thmb_direction {
    margin-top: 10px;
  }

  section.articles-section .posts-articles-section .small_thumb .media .img_thmb {
    width: 122px;
    padding-top: 122px;
  }

  section.articles-section .posts-articles-section .small_thumb .media .media-body .read-more {
    display: block;
    text-align: left;
  }

  section.articles-section .posts-articles-section .small_thumb .media .media-body .like-it {
    display: block;
    float: none;
    text-align: left;
  }

  section.articles-section .posts-articles-section .small_thumb .media .post_thmb_direction {
    margin-top: 10px;
  }

  section.articles-section .posts-articles-section .small_thumb .media .post_thmb_title {
    margin-bottom: 5px;
  }

  .pagination-block-wrap .pagination-block-wrap-1 {
    text-align: center !important;
  }

  .pagination-block-wrap .pagination-block-wrap-2 {
    text-align: center !important;
  }

  section.single-articles-section .posts-articles-section .txt {
    padding: 18px 15px 82px 15px !important;
  }

  section.single-articles-section .posts-articles-section .txt .post_thmb_direction {
    margin-top: 1px;
  }

  section.single-articles-section .posts-articles-section .txt .post_thmb_direction .comment-it {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  section.single-articles-section .posts-articles-section .txt .post_thmb_direction .social-link {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .pagination-block-wrap .pagination-block-wrap-1 {
    padding-left: 0;
  }

  .pagination-block-wrap .col pagination-block-wrap-2 {
    padding-right: 0;
  }

  section.header .left-part {
    padding-right: 0;
  }

  section.header .right-part {
    padding-left: 0;
  }
}

@media screen and (max-width: 399px) {
  .post_thmb_title {
    font-size: 18px;
  }

  .home-filters h2.section_title {
    font-size: 22px !important;
    text-align: center;
  }

  .home-filters .main_filter button,
  .home-filters .main_filter a {
    width: 100%;
  }

  .header .header-left .logo a span {
    font-size: 28px;
  }

  .header .header-right .pet-list-block:after {
    left: 50%;
  }

  footer nav.footer-nav.navbar:after {
    left: -8%;
  }

  footer nav.footer-nav.navbar ul li {
    margin-right: 9px;
  }

  section.about-us-section .about-us-to-contacts-btn {
    width: 100%;
  }

  section.about-us-section .about-us-info-wrap p {
    font-size: 13px;
  }

  section.about-us-section .accordion-custom-grid-wrap .accordion-custom .card .card-header h5 {
    font-size: 13px;
  }

  section.about-us-section .accordion-custom-grid-wrap .accordion-custom .card-body {
    font-size: 13px;
  }

  section.about-us-section .accordion-custom-grid-wrap h6 {
    font-size: 13px;
  }

  section.contacts_section .contact-info-wrap form[name=contact_us_home_form] button[name=btn_submit_contact_us_home_form] {
    width: 100%;
  }

  .home_posts .small_thumb .post_thmb_title,
  .home_posts .big_thumb .post_thmb_title {
    font-size: 13px;
  }

  .home_posts .small_thumb .media .media-body .post_thmb_title,
  .home_posts .big_thumb .media .media-body .post_thmb_title {
    font-size: 13px;
  }

  section.articles-section .posts-articles-section .small_thumb .media .media-body .like-it {
    font-size: 13px;
  }

  section.right-sidebar form.articles-filter-form input.articles-filter-form-input {
    font-size: 15px;
  }

  section.single-articles-section .posts-articles-section .txt .post_thmb_description p {
    text-align: left;
  }

  section.header .left-part {
    position: absolute;
  }

  section.header .left-part .header-left .logo a span {
    display: none;
  }
}

