/* ______________________________________________________________#HOME */

/* ______________________________________________________________/ #HOME */

/* ______________________________________________________________#HEADER */ /* ______________________________________________________________/ #HEADER */
/* ______________________________________________________________#FOOTER */ /* ______________________________________________________________/ #FOOTER */

input.input-error,textarea.input-error { border:none !important; outline:2px solid red; background-color:#f5cccc; }