body {
  //font-family: $font !important;
  background: #f5f1e7;

  a {
    text-decoration: none;
    //font-family: $font !important;
    &:hover, &:focus, &:active {
      text-decoration: none;
      color: #ece9df;
    }
  }
  button {
    outline: none;
    &:hover, &:active, &:focus {
      outline: none !important;
    }
  }
  div {
    //font-family: $font !important;
  }

  .section_title {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    color: #4c0000;
    margin-bottom: 20px;
  }
  .link_to_all {
    a {
      font-size: 18px;
      font-weight: 600;
      text-align: left;
      color: #4c0000;
      padding-top: 5px;
      transition: .3s
    }
    span {
      border: solid 1px #4c0000;
      border-radius: 60px;
      padding-right: 5px;
      padding-left: 4px;
      margin-left: 5px;
    }
    &:hover {
      a {
        color: #230202;
        transition: .3s;
      }
    }
  }
  .post_thmb_title {
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    color: #000000;
  }
  .post_date_thumb {
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    color: #db3648;
    margin-bottom: 15px;
  }
}

.header {
  border-bottom: 1px rgba(174, 174, 174, 0.3) solid;
  padding: 15px 0;
  position: absolute;
  top: 0;
  width: 100%;
  .header-left {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .logo {
      float: left;
      font-size: 25px;
      a {
        color: white;
        font-weight: 900;
        img {
          background: white;
          border-radius: 30px;
          padding: 7px 10px;
          margin-right: 12px;
        }
      }
    }
    .top_info {
      float: left;
      color: white;
      font-size: 18px;
      font-weight: 600;
      text-align: left;
      margin-top: -4px;
      border-left: 1px white solid;
      padding-left: 15px;
      margin-left: 15px;

    }
  }
  .header-right {
    display: flex;
    .profile {
      padding-top: 5px;
      a {
        font-size: 18px;
        font-weight: 600;
        text-align: left;
        color: #ffffff;
        i {
          padding: 8px 9px 10px 10px;
          border-radius: 30px;
          border: 2px white solid;
          margin-right: 12px;
        }
        &:hover {
          i {
            border: 2px #ffffff5e solid;
          }
        }
      }
    }
    .add_btn {
      margin-left: 35px;
      padding-top: 3px;
      button {
        padding: 8px 25px;
        border-radius: 20px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        background: none;
        border: 2px white solid;
        &:hover {
          border: 2px #ffffff5e solid;
        }
      }
    }
    .lang {
      margin-left: 30px;
      padding-top: 6px;
      .dropdown {
        a {
          background: none;
          border: none;
          font-size: 18px;
          font-weight: 600;

          &::after {
            display: none;
          }
          &:focus, &:active {
            outline: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}

footer {
  //background: #dd525f;
  background: #dd525f;
  width: 100%;
  nav {
    position: relative;
    z-index: 1;
    &::after {
      //content: url(../../../public/img/pets.png);
      display: inline-block;
      position: absolute;
      z-index: -1;
      top: -52px;
      left: -52px;
    }
    ul {
      li {
        margin-right: 29px;
        a {
          color: white;
          font-size: 18px;
          font-weight: 600;
          text-align: left;
        }
      }
    }
    .navbar {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0.5rem 1rem;
    }
  }
  .socials {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    a {
      margin-right: 30px;
    }
  }
}

.home-filters {
  //background-image: url(../img/photobcg.png);
  background-size: cover;
  background-position: center;
  //padding-top: 112px;
  padding-bottom: 1px;
  margin-bottom: -40px;
  .main_filter {
    background: rgba(0, 0, 0, 0.35);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    margin-bottom: 30px;
    .search {
      height: 50px;
      max-width: 525px;
      .input-group-text {
        background: white;
        border-right: none;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      input {
        border-left: none;
        padding-left: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        &:focus, &:active {
          outline: none;
          border-color: transparent;
          box-shadow: none;
        }
      }
    }
    .city {
      height: 50px;
      max-width: 370px;
      margin-left: 20px;
      .input-group-text {
        background: white;
        border-right: none;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      input {
        border-left: none;
        padding-left: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        &:focus, &:active {
          outline: none;
          border-color: transparent;
          box-shadow: none;
        }
      }
    }
    button {
      padding: 11px 40px;
      border-radius: 25px;
      font-size: 18px;
      font-weight: 600;
      color: #ffffff;
      margin-left: 20px;
    }
  }

  .animal_filters {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    .animal {
      width: 20%;
      margin-bottom: 50px;
      .img {
        float: left;
        position: relative;
        z-index: 1;
        width: 50px;
        padding-left: 10px;
        &::after {
          content: '';
          display: inline-block;
          height: 50px;
          width: 50px;
          position: absolute;
          background: white;
          top: -7px;
          left: -2px;
          z-index: -1;
          border-radius: 30px;
        }
      }
      .anml {
        float: left;
        font-size: 18px;
        font-weight: 600;
        text-align: left;
        color: #ffffff;
        padding-top: 7px;
        margin-left: 13px;
      }
    }
  }
}

.animal_section {
  margin-bottom: 30px;
  .animal_thumb {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    .single_animal_thumb {
      width: 100%;
      max-width: 205px;
      margin-right: 15px;
      margin-bottom: 15px;
      border-radius: 15px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      transition: .3s;
      &:hover {
        background-color: #fffdf7;
        transition: .3s;
      }

      .photo_section {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 60%;
        width: 100%;
        position: relative;
        .block {
          position: absolute;
          padding-left: 10px;
          padding-right: 10px;
          bottom: 8px;
          width: 100%;
          .favorite {
            position: absolute;
            bottom: 0;
            left: 10px;
            a {
              color: white;
            }
          }
          .like {
            position: absolute;
            bottom: 0;
            right: 10px;
            span {
              font-size: 18px;
              font-weight: 500;
              text-align: left;
              color: #ffffff
            }
          }
        }
      }
      .info_section {
        position: relative;
        padding: 12px;
        height: 206px;
        .name {
          margin-bottom: 5px;
          font-size: 18px;
          font-weight: 900;
          text-align: left;
          color: #000000;
        }
        .city {
          margin-bottom: 10px;
          i {
            color: #db3648;
          }
          span {
            font-size: 15px;
            font-weight: 500;
            text-align: left;
            color: #000000;
            margin-left: 10px;
          }
        }
        .age {
          margin-bottom: 10px;
          img {
            margin-top: -5px;
          }
          span {
            font-size: 15px;
            font-weight: 500;
            text-align: left;
            color: #000000;
            margin-left: 10px;
          }
        }
        .breed {
          display: flex;
          span:nth-child(2) {
            font-size: 15px;
            font-weight: 500;
            text-align: left;
            color: #000000;
            margin-left: 10px;
          }
        }
      }
      .price_section {
        width: 90%;
        position: absolute;
        bottom: 5px;
        .price {
          position: absolute;
          bottom: 0;
          left: 0;
          font-size: 18px;
          font-weight: 600;
          text-align: left;
          color: #000000;
        }
        .gender {
          position: absolute;
          right: 0;
          bottom: 5px;
        }
      }
    }
  }
}

.home_posts {
  margin-bottom: 120px;

  .big_thumb {
    width: 100%;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: .3s;
    .img_thumb {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      width: 100%;
      padding-top: 45%;
      background-position: center;
      background-size: cover;
    }
    .txt {
      padding: 18px 0 65px 15px;
    }
    &:hover {
      transition: .3s;
      background: #fffdf7;
    }
  }
  .small_thumb {
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 17px;
    transition: .3s;
    .media {
      .img_thmb {
        width: 120px;
        padding-top: 38%;
        background-position: center;
        background-size: cover;
        border-radius: 15px;
        margin-right: 14px;
      }
    }

    &:hover {
      background: #fffdf7;
      transition: .3s;
    }
  }
}

.home_info {
  margin-bottom: 45px;
  .info_single {
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 14px 0 31px 14px;
    background-position: right;
    background-size: 90%;
    background-repeat: no-repeat;
    background-color: white;
    .icon {
      height: 30px;
      width: 30px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #dd525f;
      border-radius: 35px;
      margin-bottom: 20px;
    }
    .txt {
      font-size: 15px;
      font-weight: 400;
      text-align: left;
      color: #000000;
      padding-right: 40px;
    }
  }
}


@media (max-width: 1200px) {

} 
