/* ______________________________________________________________#HOME */
@import url(https://fonts.googleapis.com/css?family=Lato:400,500,600,900);
.header{
    border-bottom:1px rgba(174,174,174,.3) solid;
    padding:15px 0;position:absolute;top:0;width:100%}
    .header .header-left{
        width:100%;height:100%;
        display:-ms-flex;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center}
        .header .header-left .logo{
            float:left;font-size:25px}
        .header .header-left .logo a{
            color:#fff;font-weight:900}
        .header .header-left .logo a img{
            background:#fff;border-radius:30px;padding:7px 10px;margin-right:12px}
        .header .header-left .top_info{
            float:left;
            color:#fff;
            font-size:18px;
            font-weight:600;
            text-align:left;
            margin-top:-4px;
            border-left:1px #fff solid;
            padding-left:15px;
            margin-left:15px}
        .header .header-right{
            display:-webkit-box;display:-ms-flexbox;display:flex}
        .header .header-right .profile{
            padding-top:5px}
        .header .header-right .profile a{
            font-size:18px;font-weight:600;text-align:left;color:#fff}
        .header .header-right .profile a i{
            padding:8px 9px 10px 10px;
            border-radius:30px;
            border:2px #fff solid;
            margin-right:12px}
        .header .header-right .profile a:hover i{
            border:2px #ffffff5e solid}
        .header .header-right .add_btn{margin-left:35px;padding-top:3px}.header .header-right .add_btn button{padding:8px 25px;border-radius:20px;-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,.1);box-shadow:0 2px 4px 0 rgba(0,0,0,.1);background:0 0;border:2px #fff solid}.header .header-right .add_btn button:hover{border:2px #ffffff5e solid}.header .header-right .lang{margin-left:30px;padding-top:6px}.header .header-right .lang .dropdown a{background:0 0;border:none;font-size:18px;font-weight:600}.header .header-right .lang .dropdown a::after{display:none}.header .header-right .lang .dropdown a:active,.header .header-right .lang .dropdown a:focus{outline:0;-webkit-box-shadow:none;box-shadow:none}footer{background:#dd525f;width:100%}footer nav{position:relative;z-index:1}footer nav::after{content:url(../img/pets.png);display:inline-block;position:absolute;z-index:-1;top:-52px;left:-52px}footer nav ul li{margin-right:29px}footer nav ul li a{color:#fff;font-size:18px;font-weight:600;text-align:left}footer .socials{display:-ms-flex;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:100%}footer .socials a{margin-right:30px}.home-filters{background-image:url(../img/photobcg.png);background-size:cover;background-position:center;padding-top:112px;padding-bottom:50px;margin-bottom:-40px}.home-filters .main_filter{background:rgba(0,0,0,.35);padding:20px;border-radius:8px;display:-webkit-box;display:-ms-flexbox;display:flex;margin-bottom:30px}.home-filters .main_filter .search{height:50px;max-width:525px}.home-filters .main_filter .search .input-group-text{background:#fff;border-right:none;border-top-left-radius:8px;border-bottom-left-radius:8px}.home-filters .main_filter .search input{border-left:none;padding-left:0;border-top-right-radius:8px;border-bottom-right-radius:8px}.home-filters .main_filter .search input:active,.home-filters .main_filter .search input:focus{outline:0;border-color:transparent;-webkit-box-shadow:none;box-shadow:none}.home-filters .main_filter .city{height:50px;max-width:370px;margin-left:20px}.home-filters .main_filter .city .input-group-text{background:#fff;border-right:none;border-top-left-radius:8px;border-bottom-left-radius:8px}.home-filters .main_filter .city input{border-left:none;padding-left:0;border-top-right-radius:8px;border-bottom-right-radius:8px}.home-filters .main_filter .city input:active,.home-filters .main_filter .city input:focus{outline:0;border-color:transparent;-webkit-box-shadow:none;box-shadow:none}.home-filters .main_filter button{padding:11px 40px;border-radius:25px;font-size:18px;font-weight:600;color:#fff;margin-left:20px}.home-filters .animal_filters{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:left;-ms-flex-pack:left;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 justify-content:left}.home-filters .animal_filters .animal{width:20%;margin-bottom:50px}.home-filters .animal_filters .animal .img{float:left;position:relative;z-index:1;width:50px;padding-left:10px}.home-filters .animal_filters .animal .img::after{content:'';display:inline-block;height:50px;width:50px;position:absolute;background:#fff;top:-7px;left:-2px;z-index:-1;border-radius:30px}.home-filters .animal_filters .animal .anml{float:left;font-size:18px;font-weight:600;text-align:left;color:#fff;padding-top:7px;margin-left:13px}.animal_section{margin-bottom:30px}.animal_section .animal_thumb{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:left;-ms-flex-pack:left;justify-content:left}.animal_section .animal_thumb .single_animal_thumb{width:100%;max-width:205px;margin-right:15px;margin-bottom:15px;border-radius:15px;background-color:#fff;-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,.1);box-shadow:0 2px 4px 0 rgba(0,0,0,.1);-webkit-transition:.3s;transition:.3s}.animal_section .animal_thumb .single_animal_thumb:hover{background-color:#fffdf7;-webkit-transition:.3s;transition:.3s}.animal_section .animal_thumb .single_animal_thumb .photo_section{border-top-right-radius:15px;border-top-left-radius:15px;background-repeat:no-repeat;background-size:cover;background-position:center;padding-top:60%;width:100%;position:relative}.animal_section .animal_thumb .single_animal_thumb .photo_section .block{position:absolute;padding-left:10px;padding-right:10px;bottom:8px;width:100%}.animal_section .animal_thumb .single_animal_thumb .photo_section .block .favorite{position:absolute;bottom:0;left:10px}.animal_section .animal_thumb .single_animal_thumb .photo_section .block .favorite a{color:#fff}.animal_section .animal_thumb .single_animal_thumb .photo_section .block .like{position:absolute;bottom:0;right:10px}.animal_section .animal_thumb .single_animal_thumb .photo_section .block .like span{font-size:18px;font-weight:500;text-align:left;color:#fff}.animal_section .animal_thumb .single_animal_thumb .info_section{position:relative;padding:12px;height:206px}.animal_section .animal_thumb .single_animal_thumb .info_section .name{margin-bottom:5px;font-size:18px;font-weight:900;text-align:left;color:#000}.animal_section .animal_thumb .single_animal_thumb .info_section .city{margin-bottom:10px}.animal_section .animal_thumb .single_animal_thumb .info_section .city i{color:#db3648}.animal_section .animal_thumb .single_animal_thumb .info_section .city span{font-size:15px;font-weight:500;text-align:left;color:#000;margin-left:10px}.animal_section .animal_thumb .single_animal_thumb .info_section .age{margin-bottom:10px}.animal_section .animal_thumb .single_animal_thumb .info_section .age img{margin-top:-5px}.animal_section .animal_thumb .single_animal_thumb .info_section .age span{font-size:15px;font-weight:500;text-align:left;color:#000;margin-left:10px}.animal_section .animal_thumb .single_animal_thumb .info_section .breed{display:-webkit-box;display:-ms-flexbox;display:flex}.animal_section .animal_thumb .single_animal_thumb .info_section .breed span:nth-child(2){font-size:15px;font-weight:500;text-align:left;color:#000;margin-left:10px}.animal_section .animal_thumb .single_animal_thumb .price_section{width:90%;position:absolute;bottom:5px}.animal_section .animal_thumb .single_animal_thumb .price_section .price{position:absolute;bottom:0;left:0;font-size:18px;font-weight:600;text-align:left;color:#000}.animal_section .animal_thumb .single_animal_thumb .price_section .gender{position:absolute;right:0;bottom:5px}.home_posts{margin-bottom:120px}.home_posts .big_thumb{width:100%;border-radius:15px;background-color:#fff;-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,.1);box-shadow:0 2px 4px 0 rgba(0,0,0,.1);-webkit-transition:.3s;transition:.3s}.home_posts .big_thumb .img_thumb{border-top-left-radius:15px;border-top-right-radius:15px;width:100%;padding-top:45%;background-position:center;background-
size:cover}.home_posts .big_thumb .txt{padding:18px 0 65px 15px}.home_posts .big_thumb:hover{-webkit-transition:.3s;transition:.3s;background:#fffdf7}.home_posts .small_thumb{margin-bottom:25px;border-radius:15px;background-color:#fff;-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,.1);box-shadow:0 2px 4px 0 rgba(0,0,0,.1);padding:17px;-webkit-transition:.3s;transition:.3s}.home_posts .small_thumb .media .img_thmb{width:120px;padding-top:38%;background-position:center;background-size:cover;border-radius:15px;margin-right:14px}.home_posts .small_thumb:hover{background:#fffdf7;-webkit-transition:.3s;transition:.3s}.home_info{margin-bottom:45px}.home_info .info_single{border-radius:15px;-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,.1);box-shadow:0 2px 4px 0 rgba(0,0,0,.1);padding:14px 0 31px 14px;background-position:right;background-size:90%;background-repeat:no-repeat;background-color:#fff}.home_info .info_single .icon{height:30px;width:30px;background-position:center;background-repeat:no-repeat;background-color:#dd525f;border-radius:35px;margin-bottom:20px}.home_info .info_single .txt{font-size:15px;font-weight:400;text-align:left;color:#000;padding-right:40px}body{font-family:Lato,sans-serif!important;background:#f5f1e7}body a{text-decoration:none;font-family:Lato,sans-serif!important}body a:active,body a:focus,body a:hover{text-decoration:none;color:#ece9df}body button{outline:0}body button:active,body button:focus,body button:hover{outline:0!important}body div{font-family:Lato,sans-serif!important}body .section_title{font-size:24px;font-weight:600;text-align:left;color:#4c0000;margin-bottom:20px}body .link_to_all a{font-size:18px;font-weight:600;text-align:left;color:#4c0000;padding-top:5px;-webkit-transition:.3s;transition:.3s}body .link_to_all span{border:solid 1px #4c0000;border-radius:60px;padding-right:5px;padding-left:4px;margin-left:5px}body .link_to_all:hover a{color:#230202;-webkit-transition:.3s;transition:.3s}body .post_thmb_title{font-size:18px;font-weight:900;text-align:left;color:#000}body .post_date_thumb{font-size:15px;font-weight:600;text-align:left;color:#db3648;margin-bottom:15px}
/* ______________________________________________________________/ #HOME */

/* ______________________________________________________________#HEADER */ /* ______________________________________________________________/ #HEADER */
/* ______________________________________________________________#FOOTER */ /* ______________________________________________________________/ #FOOTER */

input.input-error,textarea.input-error { border:none !important; outline:2px solid red; background-color:#f5cccc; }