// FONTS
@import url("https://fonts.googleapis.com/css?family=Lato:400,500,600,900");

// VARIABLES
@import "variables";
$color-red1: #dd525f;
$color-red2: #db3648;
$color-white: #ffffff;
$color-black: #000000;
$color-burgundy: #4c0000;
$font-family-lato: Lato;

// MIXINS
@mixin box-shadow1 {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
@mixin text-align-justify {
  text-align:justify;
  text-justify:inter-word;
}

//FONTS
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,900');

* { margin: 0; padding: 0; }

$font: 'Lato', sans-serif;
$hover-color: #fffdf7;
$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

body {
  font-family: Lato, sans-serif !important;
  background: #f5f1e7;

  a {
    text-decoration: none;
    //font-family: $font !important;
    &:hover, &:focus, &:active {
      text-decoration: none;
      color: #ece9df;
    }
  }
  button {
    outline: none;
    &:hover, &:active, &:focus {
      outline: none !important;
    }
  }
  div {
    //font-family: $font !important;
  }

  .section_title {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    color: $color-burgundy;
    margin-bottom: 20px;
  }
  .link_to_all {
    a {
      font-size: 18px;
      font-weight: 600;
      text-align: left;
      color: $color-burgundy;
      padding-top: 5px;
      transition: .3s;
      img {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin-left: 5px;
      }
    }
    span {
      border: solid 1px $color-burgundy;
      border-radius: 60px;
      padding-right: 5px;
      padding-left: 4px;
      margin-left: 5px;
    }
    &:hover {
      a {
        color: #230202;
        transition: .3s;
      }
    }
    span.look-span {
      border: none;
      border-radius: 0;
      padding-right: 0;
      padding-left: 0;
      margin-left: 0;
    }
  }
  .post_thmb_title {
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    color: #000000;
    line-height: 1.2;
  }
  .post_date_thumb {
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    color: $color-red2;
    margin-bottom: 15px;
  }
}

// BREADCRUMB
nav.breadcrumb-custom{
  .breadcrumb{
    background-color: transparent;
    padding-left: 0;
  }
    li.breadcrumb-item{
      opacity: 0.7;
      color: $color-burgundy;
      font-size: 15px;
      font-weight: 600;
      a{
        opacity: 0.7;
        color: $color-burgundy;
        font-size: 15px;
        font-weight: 600;
        &:hover{
          opacity: 1.0;
        }
      }
      @-moz-document url-prefix() {
        a{font-weight: 400;}
      }
    }
  @-moz-document url-prefix() {
    li.breadcrumb-item{font-weight: 400;}
  }
    li.breadcrumb-item.active{
  }
}

// #HEADER
.header {
  border-bottom: 1px rgba(174, 174, 174, 0.3) solid;
  padding: 15px 0;
  position: absolute;
  top: 0;
  width: 100%;
  .header-left {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .logo {
      float: left;
      font-size: 25px;
      a {
        color: $color-white;
        font-weight: 900;
        img {
          background: $color-white;
          border-radius: 30px;
          padding: 7px 10px;
          margin-right: 5px;
        }
        span{
          font-weight: 200;
          font-size: 30px;
          position: relative;
          top: 2px;
        }
      }
    }
    .top_info {
      float: left;
      color: $color-white;
      font-size: 18px;
      font-weight: 600;
      text-align: left;
      margin-top: -4px;
      border-left: 1px white solid;
      padding-left: 15px;
      margin-left: 15px;
    }
    @-moz-document url-prefix() {
      .top_info {font-weight: 400;}
    }
  }
  .header-right {
    display: flex;
    .profile {
      padding-top: 5px;
      a {
        font-size: 18px;
        font-weight: 600;
        text-align: left;
        color: $color-white;
        i {
          //padding: 8px 9px 10px 10px;
          padding: 6px 9px 6px 9px;
          border-radius: 30px;
          border: 2px white solid;
          margin-right: 6px;
          &:before {
            font-size: 27px;
          }
        }
        &:hover {
          i {
            border: 2px #ffffff5e solid;
          }
        }
      }
      @-moz-document url-prefix() {
        a { font-weight: 400 !important; }
      }
    }
    .add_btn {
      margin-left: 35px;
      padding-top: 3px;
      button {
        padding: 8px 18px;
        border-radius: 42px;
        @include box-shadow1;
        background: none;
        border: 2px white solid;
        font-size: 18px;
        font-weight: 600;
        span { font-size: 18px; }
        &:hover {
          border: 2px #ffffff5e solid;
        }
        a {
          color: $color-white;
        }
      }
      @-moz-document url-prefix() {
        button { font-weight: 400 !important; }
      }
    }
    .lang {
      margin-left: 30px;
      padding-top: 6px;
      .dropdown {
        a.switch-language{
          background: none;
          border: none;
          font-size: 18px;
          font-weight: 600;
          &::after {
            display: none;
          }
          &:focus, &:active {
            outline: none;
            box-shadow: none;
          }
        }
        @-moz-document url-prefix() {
          a {font-weight: 400;}
        }
        .dropdown-menu-list-language{
          min-width: 5rem;
          a.dropdown-item{
            font-size: 16px;
            font-weight: 600;
            padding: 0.1rem 1.1rem;
          }
          @-moz-document url-prefix() {
            a.dropdown-item {font-weight: 400;}
          }
        }
      }
    }
  }
}
.header.header-not-home{
  background-color: $color-red1;
  position: relative;
  .header-right {
    .lang {
      .dropdown {
        a.switch-language{
        }
        .dropdown-menu-list-language{
          a.dropdown-item{
            &:hover{
              background-color: $color-red1;
              color: $color-white;
            }
          }
        }
      }
    }
  }
}


// #FOOTER
footer {
  background: $color-red1;
  width: 100%;
  nav {
    position: relative;
    z-index: 1;
    &::after {
      //content: url(http://lapki.test/img/photobcg.png);
      display: inline-block;
      position: absolute;
      z-index: -1;
      top: -52px;
      left: -52px;
    }
    ul {
      li {
        margin-right: 29px;
        a {
          color: $color-white;
          font-size: 18px;
          font-weight: 600;
          text-align: left;
        }
        @-moz-document url-prefix() {
          a {font-weight: 400;}
        }
      }
    }
    .navbar {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0.5rem 1rem;
    }
  }
  .socials {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    a {
      margin-right: 30px;
    }
  }
  .lang-footer-mobver{
    a {
      color: $color-white;
      font-size: 16px;
      font-weight: 400;
      opacity: 0.6;
      &:hover{
        opacity: 1.0;
      }
    }
    a.active-lang-class{
      color: $color-white;
      opacity: 1.0;
    }
    a:nth-of-type(1){
      padding-right: 5px;
    }
    a:nth-of-type(2){
      padding-left: 5px;
    }
    @-moz-document url-prefix() {
      a {font-weight: 400;}
    }
  }
}
footer.footer.footer-not-home{
  //position: absolute;
  //bottom: 0;
  margin-top: 100px
}
.footer.footer-small-height{
  //position: absolute;
  //bottom: 0;
}


// #HOME PAGE
.home-filters {
  //background-image: url(../img/photobcg.png);
  background-size: cover !important;
  background-position: center !important;
  height: 440px;
  padding-top: 112px;
  padding-bottom: 1px;
  margin-bottom: -40px;
  .main_filter {
    background: rgba(0, 0, 0, 0.35);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    margin-bottom: 30px;
    .search {
      height: 50px;
      max-width: 525px;
      .input-group-text {
        background: $color-white;
        border-right: none;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      input {
        border-left: none;
        padding-left: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        font-size: 18px;
        &:focus, &:active {
          outline: none;
          border-color: transparent;
          box-shadow: none;
        }
      }
    }
    .city {
      height: 50px;
      max-width: 370px;
      margin-left: 20px;
      .input-group-text {
        background: $color-white;
        border-right: none;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      input {
        border-left: none;
        padding-left: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        font-size: 18px;
        &:focus, &:active {
          outline: none;
          border-color: transparent;
          box-shadow: none;
        }
      }
    }
    button {
      padding: 11px 40px;
      border-radius: 25px;
      font-size: 18px;
      font-weight: 600;
      color: $color-white;
      margin-left: 20px;
    }
    @-moz-document url-prefix() {
      button {font-weight: 400;}
    }
  }
  .main_filter.main_filter_mobver{
    .search{
      input{
        border-right: 0;
      }
      .input-group-append{
        position: relative;
        right: 6px;
        &:hover{
          cursor: pointer;
          .input-group-text{
            background-color: $color-red1;
            color: $color-white !important;
          }
        }
        .input-group-text {
          background: $color-white;
          border-right: 1px solid #ced4da;
          border-left: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
        .input-group-text:nth-of-type(1){
          font-size: 38px;
          color: $color-burgundy;
        }
        .input-group-text:nth-of-type(2){
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          padding-left: 0
        }
      }
      .input-group-append.collapsed{
        .input-group-text:nth-of-type(2){
          &:before{
            content: "\f0dd";
            font-size: 20px;
            padding-left: 0;
            position: relative;
            top: 4px;
            color: $color-burgundy;
          }
        }
      }
      .input-group-append{
        .input-group-text:nth-of-type(2){
          &:before{
            content: "\f0de";
            font-size: 20px;
            position: relative;
            top: 12px;
            color: $color-burgundy;;
          }
        }
        &:hover{
          .input-group-text:nth-of-type(2){
            color: $color-white !important;
          }
        }
      }
      .input-group-append{
        &:hover{
          .input-group-text:nth-of-type(2){
            &:before{
              color: $color-white;
            }
          }
        }
      }
    }
  }

  .animal_filters {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    .animal {
      width: 20%;
      margin-bottom: 50px;
      .img {
        float: left;
        position: relative;
        z-index: 1;
        width: 50px;
        padding-left: 10px;
        &::after {
          content: '';
          display: inline-block;
          height: 50px;
          width: 50px;
          position: absolute;
          background: $color-white;
          top: -7px;
          left: -2px;
          z-index: -1;
          border-radius: 30px;
        }
      }
      .anml {
        float: left;
        font-size: 18px;
        font-weight: 600;
        text-align: left;
        color: $color-white;
        padding-top: 7px;
        margin-left: 13px;
      }
      @-moz-document url-prefix() {
        .anml { font-weight: 400 !important; }
      }
    }
  }
  .animal_filters {
    #dog-i-home{
      a{
        div.img{
          padding-left: 8px;
          padding-top: 3px;
        }
      }
    }
    #rabbit-i-home{
      a{
        div.img{
          padding-left: 8px;
          padding-top: 3px;
        }
      }
    }
    #foumart-i-home{
      a{
        div.img{
          padding-left: 7px;
          padding-top: 7px;
        }
      }
    }
    #aves-i-home{
      a{
        div.img{
          padding-left: 10px;
          padding-top: 1px;
        }
      }
    }
    #horse-i-home{
      a{
        div.img{
          padding-left: 11px;
          padding-top: 5px;
        }
      }
    }
    #cat-i-home{
      a{
        div.img{}
      }
    }
    #guineapig-i-home{
      a{
        div.img{
          padding-left: 7px;
          padding-top: 4px;
        }
      }
    }
    #сhinchilla-i-home{
      a{
        div.img{
          padding-left: 9px;
          padding-top: 3px;
        }
      }
    }
    #turtle-i-home{
      a{
        div.img{
          padding-left: 7px;
          padding-top: 5px;
        }
      }
    }
  }
}

.animal_section {
  margin-bottom: 30px;
  .animal_thumb {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .single_animal_thumb {
      width: 100%;
      max-width: 205px;
      margin-right: 15px;
      margin-bottom: 15px;
      border-radius: 15px;
      background-color: $color-white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      transition: .3s;
      &:hover {
        background-color: #fffdf7;
        transition: .3s;
        cursor:pointer;
      }

      .photo_section {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 66%;
        width: 100%;
        position: relative;
        .block {
          position: absolute;
          padding-left: 10px;
          padding-right: 10px;
          bottom: 8px;
          width: 100%;
          .favorite {
            position: absolute;
            bottom: 0;
            left: 10px;
            a {
              color: $color-white;
              i {
                &::before { font-size: 22px; }
              }
            }
          }
          .like {
            position: absolute;
            bottom: 0;
            right: 10px;
            span {
              font-size: 18px;
              font-weight: 500;
              text-align: left;
              color: $color-white
            }
          }
        }
      }
      .info_section {
        position: relative;
        padding: 12px;
        height: 206px;
        .name {
          margin-bottom: 5px;
          font-size: 18px;
          font-weight: 900;
          text-align: left;
          color: #000000;
        }
        .city {
          margin-bottom: 10px;
          i {
            color: $color-red2;
          }
          span {
            font-size: 15px;
            font-weight: 500;
            text-align: left;
            color: #000000;
            margin-left: 10px;
          }
        }
        .age {
          margin-bottom: 10px;
          img {
            margin-top: -5px;
          }
          span {
            font-size: 15px;
            font-weight: 500;
            text-align: left;
            color: #000000;
            margin-left: 10px;
          }
        }
        .breed {
          display: flex;
          span:nth-child(2) {
            font-size: 15px;
            font-weight: 500;
            text-align: left;
            color: #000000;
            margin-left: 10px;
            line-height: 1.2;
          }
        }
      }
      .price_section {
        width: 90%;
        position: absolute;
        bottom: 5px;
        .price {
          position: absolute;
          bottom: 0;
          left: 0;
          font-size: 18px;
          font-weight: 600;
          text-align: left;
          color: #000000;
        }
        .gender {
          position: absolute;
          right: 0;
          bottom: 5px;
        }
      }
    }
  }
}

.home_posts {
  margin-bottom: 60px;

  .big_thumb {
    width: 100%;
    border-radius: 15px;
    background-color: $color-white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: .3s;
    .img_thumb {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      width: 100%;
      padding-top: 45%;
      background-position: center;
      background-size: cover;
    }
    .txt {
      padding: 18px 15px 65px 15px;
    }
    &:hover {
      transition: .3s;
      background: #fffdf7;
    }
  }
  .small_thumb {
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: $color-white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 17px;
    transition: .3s;
    .media {
      .img_thmb {
        width: 120px;
        padding-top: 120px;
        background-position: center;
        background-size: cover;
        border-radius: 15px;
        margin-right: 14px;
      }
      @-moz-document url-prefix() {
        .img_thmb {padding-top: 120px;}
      }
    }

    &:hover {
      background: #fffdf7;
      transition: .3s;
    }
  }
}

.home_info {
  margin-bottom: 45px;
  .info_single {
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 14px 0 31px 14px;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $color-white;
    .icon {
      height: 30px;
      width: 30px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: $color-red1;
      border-radius: 35px;
      margin-bottom: 20px;
    }
    .txt {
      font-size: 15px;
      font-weight: 400;
      text-align: left;
      color: #000000;
      padding-right: 40px;
    }
  }
}

.jq-selectbox__select{
  border: none !important;
  border-bottom-color: transparent !important;
  border-radius: 4px !important;
  background: none !important;
  box-shadow: none !important;
  color: $color-black !important;
  text-shadow: none !important;
  font-size: 18px;
  height: 26px !important;
  font-family: $font-family-lato;
  font-weight: 600;
  font-style: normal;
}
.jq-selectbox__trigger {
  top: -13px;
  border-left: none;
  /*position: absolute;*/
  /*right: 0px;*/
  /*width: 39px;*/
  /*height: 100%;*/
  .jq-selectbox__trigger-arrow{
    border-top: 8px solid $color-burgundy;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
  }
}
.main_filter_mobver .card-filter-content .form-control {
  border-top: none !important;
  margin-bottom: 12px !important;
  padding: 4px 12px !important;
}


// #ABOUT US PAGE
section.about-us-section{
  margin-top: 39px;
  .about-us-info-wrap{
    background-color: $color-white;
    //padding: 12px 0 0 0;
    @include box-shadow1;
    h1{
      font-size: 24px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: $color-black;
      padding-top: 15px;
    }
    @-moz-document url-prefix() {
      h1 { font-weight: 400; }
    }
    p{
      font-size: 15px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: $color-black;
      opacity: 0.9;
      padding-right: 40px;
    }
    p:nth-of-type(2){
      margin-bottom: 0;
      padding-bottom: 20px;
    }
    @-moz-document url-prefix() {
      p { font-weight: 400; }
    }

    .col-about-us-info-bg{
      display: block;
      width: 100%;
      //padding-top: 41%;
      min-height: inherit;
      position: relative;
      //background: url(../img/about-us-976@402.png);
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: 50% 50% !important;
      z-index: 0;
      .about-us-info-bg{
        }
    }

    .col{
      background-color: $color-white;
      padding-right: 0;
    }
  }

  .accordion-custom-grid-wrap{
    margin-top: 30px;
    margin-bottom: 55px;
    background-color: $color-white;
    @include box-shadow1;
    .accordion-custom{
      padding: 20px 0 10px 0;
      .card{
        margin-bottom: 15px;
        border: none;
        border: solid 1px #ebebeb;
        border-radius: 10px;
        .card-header{
          padding: 0.75rem 0.25rem;
          background-color: #f7f7f7;
          border-bottom: none;
          border-radius: 10px;
          h5{
            font-size: 15px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: $color-black;
            cursor: pointer;
            padding: 0 10px 0 10px;
            &:hover{
              text-decoration: none;
            }
          }
          h5.collapsed{
            .caret-custom{
              float: right;
              position: relative;
              top: -6px;
              &:before{
                content: "\f0dd";
                font-size: 20px;
                padding-left: 0;
                position: relative;
                top: 4px;
                color: #a68080;
              }
            }
          }
          h5{
            .caret-custom{
              float: right;
              position: relative;
              top: 0;
              &:before{
                content: "\F0DE";
                font-size: 20px;
                padding-left: 0;
                position: relative;
                top: 4px;
                color: #a68080;
              }
            }
          }
          @-moz-document url-prefix() {
            h5 { font-weight: 400; }
          }
        }
      }
      .card-body{
        line-height: 1.4;
        text-align: left;
      }
    }
    h1{
      font-size: 24px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: $color-black;
      padding-top: 15px;
    }
    @-moz-document url-prefix() {
      h1 { font-weight: 400; }
    }
    h6{
      font-size: 15px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: $color-black;
    }
    @-moz-document url-prefix() {
      h6 { font-weight: 400; }
    }
  }
  .accordion-custom-grid-wrap-two{
    padding-left: 30px;
    height: 160px;
  }
  .about-us-to-contacts-btn{
    padding: 9px 40px;
    margin-top: 13px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    color: $color-white;
    &:hover{
      color: $color-white;
    }
  }
}

// #CONTACTS PAGE
section.contacts_section{
  margin-top: 60px;
  margin-bottom: 249px;
  .contact-info-wrap{
    padding-top: 15px;
    h1, p{
      padding-left: 15px;
    }
    h1{
      font-size: 24px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: $color-black;
      padding-top: 15px;
    }
    @-moz-document url-prefix() {
      h1 { font-weight: 400; }
    }
    p{
      font-size: 15px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: $color-black;
    }
    @-moz-document url-prefix() {
      p { font-weight: 400; }
    }
    form[name=contact_us_home_form]{
      textarea{
        resize: none;
      }
      button[name=btn_submit_contact_us_home_form]{
        padding: 9px 40px;
        margin-top: 13px;
        border-radius: 25px;
        font-size: 18px;
        font-weight: 600;
        color: $color-white;
      }
      .form-group{
        input,textarea{
          &:focus,active{
            border-color: #dc3545;
            box-shadow: none;
          }
          &:visited{
            border-color: transparent;
            box-shadow: none;
          }
        }
      }
    }
    .col-contacts-info-bg{
      display: block;
      width: 100%;
      //padding-top: 41%;
      min-height: inherit;
      position: relative;
      //background: url(../img/about-us-976@402.png);
      background-repeat: no-repeat !important;
      background-size: contain !important;
      background-position: 50% 50% !important;
      z-index: 0;
    }
  }
}


// #ARTICLES(Blog) PAGE
.articles-section{
  margin-top: 60px;
  h1{
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: $color-black;
    margin-bottom: 25px;
  }
  @-moz-document url-prefix() {
    h1 { font-weight: 400; }
  }

  .small_thumb{
    .media{
      .img_thmb{
        width: 176px;
        padding-top: 176px;
      }
    }
  }
}

.posts-articles-section{
  .small_thumb {
    .media {
      .media-body {
        .post_thmb_title {
          margin-bottom: 14px;
        }
        @-moz-document url-prefix() {
          .post_thmb_title {
            font-weight: 600;
          }
        }

        .post_thmb_description {
          display: inline-block;
          text-align: left;
          opacity: 0.8;
          font-family: Lato, sans-serif;
          font-size: 15px;
          font-weight: 600;
          color: $color-black;
          @include text-align-justify;
        }
        @-moz-document url-prefix() {
          .post_thmb_description {
            font-weight: 400;
          }
        }
        .post_thmb_direction {
          margin-top: 22px;
          opacity: 0.5;
          font-family: Lato, sans-serif;
          font-size: 15px;
          font-weight: 600;
          color: $color-black;
          span:nth-of-type(1) {
            a {
              display: inline-block;
              text-align: left;
              opacity: 0.5;
              font-family: Lato, sans-serif;
              font-size: 15px;
              font-weight: 600;
              color: $color-black;
              &:hover {
                opacity: 1.0;
              }
            }
            @-moz-document url-prefix() {
              a {
                font-weight: 400;
              }
            }
          }
          span:nth-of-type(2) {
            display: inline-block;
            text-align: right;
            float: right;
            opacity: 0.5;
            font-family: Lato, sans-serif;
            font-size: 15px;
            font-weight: 600;
            color: $color-black;
          }
          @-moz-document url-prefix() {
            span:nth-of-type(2) {
              font-weight: 400 !important;
            }
          }
        }
      }
    }
  }

  .txt{
    padding: 18px 15px 28px 15px !important;
    .post_thmb_title{
      margin-bottom: 14px;
    }
    @-moz-document url-prefix() {
      .post_thmb_title { font-weight: 600; }
    }
    .post_thmb_description{
      display: inline-block;
      text-align: left;
      opacity: 0.8;
      font-family: Lato, sans-serif;
      font-size: 15px;
      font-weight: 600;
      color: $color-black;
      @include text-align-justify;
    }
    @-moz-document url-prefix() {
      .post_thmb_description { font-weight: 400; }
    }
    .post_thmb_direction{
      margin-top: 22px;
      opacity: 0.5;
      font-family: Lato, sans-serif;
      font-size: 15px;
      font-weight: 600;
      color: $color-black;
      span:nth-of-type(1){
        a{
          display: inline-block;
          text-align: left;
          opacity: 0.5;
          font-family: Lato, sans-serif;
          font-size: 15px;
          font-weight: 600;
          color: $color-black;
          &:hover{
            opacity: 1.0;
          }
        }
        @-moz-document url-prefix() {
          a { font-weight: 400; }
        }
      }
      span:nth-of-type(2){
        display: inline-block;
        text-align: right;
        float: right;
        opacity: 0.5;
        font-family: Lato, sans-serif;
        font-size: 15px;
        font-weight: 600;
        color: $color-black;
      }
      @-moz-document url-prefix() {
        span:nth-of-type(2) {
          font-weight: 400;
        }
      }
    }
  }

  .pagination-block-wrap{
    width: 100%;
    .more-articles-btn{
      padding: 9px 40px;
      margin-top: 13px;
      border-radius: 25px;
      font-size: 18px;
      color: $color-white;
    }
    .pagination-block-wrap-1{
      text-align: right;
      top: 24px;
      p{
        font-size: 18px;
        font-weight: 600;
      }
    }

    .pagination-block-wrap-2{
      text-align: left;
    }
  }
}


// #SINGLE ARTICLES(of Blog) PAGE
section.single-articles-section{
  .posts-articles-section{
    .post_thmb_description{
      .img_thumb{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-bottom: 15px;
      }
    }
    .post_thmb_direction{
      opacity: 1.0;
      .comment-it{
        a{
          background-color: $color-white;
          padding: 7px 25px;
          margin-top: 13px;
          border-radius: 25px;
          font-size: 18px;
          color: $color-red2;
          border: 2px solid $color-red2;
          opacity: 1.0;
          &:hover{
            background-color: $color-red2;
            color: $color-white;
          }
        }
      }
      .social-link{
        opacity: 1.0;
        position: relative;
        top: 15px;
        a{
          opacity: 1.0;
          padding-left: 5px;
        }
        a:nth-of-type(1){
          padding-left: 12px;
        }
      }
    }
  }
}


// #RIGHT SIDE-BAR
section.right-sidebar{
  background-color: $color-white;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  form.articles-filter-form{
    margin-bottom: 17px;
    .search{
      position: relative;
      top: 9px;
    }
    input.articles-filter-form-input{
      padding-left: 0;
      border: none;
      color: $color-burgundy;
      font-size: 18px;
      &:active, &:focus{
        border: 0;
        box-shadow: none;
      }
    }
    .articles-filter-form-button{
      background-color: $color-white;
      border: none;
      cursor: pointer;
    }
  }
  .animal_filters{
    padding-top: 9px;
    padding-bottom: 15px;
    margin-bottom: 26px;
    .animal{
      margin-bottom: 19px;
      .img{
        display: inherit;
        padding-right: 12px;
        position: relative;
      }
      .anml{
        display: inherit;
        position: relative;
        top: 2px;
        font-size: 18px;
        color: $color-black;
        &:hover{
          opacity: 0.6;
        }
        a{
          &:hover{
            opacity: 0.6;
          }
        }
      }
    }
  }
  form.articles-filter-form-mobver{
    .search{
      .input-group-append{
        background-color: transparent;
        cursor: pointer;
        span.input-group-text:nth-of-type(1){
          background-color: transparent;
          border: none;
          font-size: 38px;
          color: $color-burgundy;
        }
        span.input-group-text:nth-of-type(2){
          background-color: transparent;
          border: none;
          padding-right: 5px;
          padding-left: 0;
          &:before{
            content: "\F0DE";
            font-size: 20px;
            padding-left: 0;
            position: relative;
            top: 12px;
            color: $color-burgundy;
          }
        }
      }
      .input-group-append.collapsed{
        span.input-group-text:nth-of-type(2){
          &:before{
            content: "\F0DD";
            font-size: 20px;
            padding-left: 0;
            position: relative;
            top: 4px;
            color: $color-burgundy;
          }
        }
      }
    }
  }
}

// #POPULAR BLOCK with ARTICLES
section.popular_block{
  .popular-posts-articles-section{
    margin-top: 35px;
    h1{
      margin-bottom: 17px;
    }
    .popular-post-item{
      .media{
        .img_thmb{
          width: 110px;
          padding-top: 110px;
        }
        .post_thmb_title{
          font-size: 17px;
        }
        .post_thmb_direction{
          display: inline-block;
          text-align: left;
          opacity: 0.5;
          font-family: Lato, sans-serif;
          font-size: 15px;
          font-weight: 600;
          color: $color-black;
          margin-top: 8px;
        }
        @-moz-document url-prefix() {
          .post_thmb_direction {
            font-weight: 400;
          }
        }
        .post_date_thumb{
          margin-bottom: 6px;
        }
      }
    }
    .link_to_all{
      position: relative;
      top: -5px;
    }
  }
}



/* ** #MEDIA-QUERY ** */
//LG = from 1199px till 992px  (Class prefix .col-lg-)
@media screen and (max-width: 1199px) {
  .header {
    background-color: $color-red1;
    padding: 7px 0;
    .header-right {
      display: flex;
      justify-content: flex-end;
      .profile {
        padding-top: 5px;
        a {
          i {
            padding: 6px 0px 6px 9px;
            border-radius: 0;
            border: none;
            font-size: 30px;
            &:before {
              font-size: 30px;
            }
          }
          &:hover {
            i {
              border: 0;
            }
          }
        }
      }
    }
    .add_btn {
      button {
        padding: 8px 8px !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        background: none;
        border: none !important;
        font-size: 18px;
        font-weight: 600;
        span { font-size: 30px !important; color: $color-white;}
        &:hover {
          border: 0;
        }
      }
      @-moz-document url-prefix() {
        button { font-weight: 400 !important; }
      }
    }
  }

  .home-filters {
    .animal_filters {
      justify-content: center;
      margin-top: 3rem;
      .animal{
        width: 7%;
      }
    }
  }

  .home_info{
    .info_single{
      background-position: center;
      background-size: cover;
    }
  }

  footer{
    .socials{
      justify-content: center;
      padding-top: 13px;
    }
  }

  section.popular_block{
    .popular-posts-articles-section{
      .popular-post-item{
        .media{
          .img_thmb{
          }
          .post_thmb_title{
            font-size: 15px;
          }
        }
      }
    }
  }
}  /*__/1199px */  /* LG = from 1199px till 992px  (Class prefix .col-lg-) */


//MD = from 991px till 768px  (Class prefix .col-md-)
@media screen and (max-width: 991px) {
  .home-filters {
    background: none !important;
    height: auto;
    padding-top: 0;
    margin-top: 112px;
    .main_filter {
      .input-group.search{
        margin: 0 auto;
        max-width: 100%;
      }
      background: none;
      flex-direction: column;
      button{
        width: 50%;
        margin-top: 15px;
        margin-right: auto;
        margin-left: auto;
      }
      a{
        width: 50%;
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
        button{
          width: 100%;
        }
      }
    }
    .animal_filters {
      .animal{
      }
    }
    .collapse{
      position: relative;
      padding-left: 1px;
      padding-right: 6px;
      margin-top: 0;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      .card.card-filter-content{
        border-top: none;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        label{
          font-size: 18px;
          color: lightgray;
          border: 1px solid lightgray;
          margin-bottom: -5px;
          border-top-right-radius: 0.25rem;
          border-top-left-radius: 0.25rem;
          padding-left: 21px;
        }
        label:nth-of-type(1){
          margin-top: 10px;
        }
        select.form-control{
          font-size: 18px;
          font-weight: 400;
          border-top: none;
          margin-bottom: 15px;
          &:active, &:focus{
            box-shadow: none !important;
            border: 1px solid #ced4da;
            border-top: none;
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  .animal_section{
    margin-top: 45px;
  }

  footer{
    height: 146px;
    nav.footer-nav.navbar{
      justify-content: center;
      padding: 0.9rem 1rem 0.1rem 1rem;
      &:after {
        left: 50%;
      }
    }
  }

  section.about-us-section{
    .about-us-info-wrap{
      p{
        padding-right: 15px;
      }
    }
    .accordion-custom-grid-wrap{
      margin-bottom: 4px;
      text-align: center
    }
    .accordion-custom-grid-wrap-two {
      padding-left: 15px;
    }
    .about-us-to-contacts-btn{
      width: 50%;
    }
  }

  section.contacts_section{
    .contact-info-wrap{
      form[name=contact_us_home_form]{
        button[name=btn_submit_contact_us_home_form]{
          width: 50%;
        }
      }
    }
  }

  section.single_articles_section{
    .home_posts.posts-articles-section{
      margin-bottom: 25px !important;
    }
  }

  div.popular-block-separately-for-mobile{
    margin-top: -33px;
    .popular-posts-articles-section{
      h1{
        font-size: 21px;
      }
    }
  }

}  //MD = from 991px till 768px  (Class prefix .col-md-)


//SM = from 767px till 576px  (Class prefix .col-sm-)
@media screen and (max-width: 767px) {
  .home-filters {
    background: none !important;
    h2.section_title {
      text-align: center;
    }
    .main_filter {
      .input-group.search{
      }
      button, a{
        width: 70%;
      }
    }
    .animal_filters {
      .animal{
      }
    }
  }

  footer{
    nav.footer-nav.navbar{
      &:after {
        left: 40%;
      }
    }
  }
  .animal_section{
    .link_to_all{
      margin-top: 5px;
    }
  }
  .home_posts{
    .link_to_all{
      margin-top: 5px;
    }
  }

  section.contacts_section{
    .contact-info-wrap{
      form[name=contact_us_home_form]{
        button[name=btn_submit_contact_us_home_form]{
          width: 70%;
        }
      }
    }
  }

} //SM = from 767px till 576px  (Class prefix .col-sm-)


//XS = from 575px and less (Class prefix .col-)
@media screen and (max-width: 575px) {
  .header {
    .header-right {
      .add_btn {
        margin-left: 0;
        button {
          padding: 8px 3px !important;
        }
      }
    }
    .header-left {
      .logo {
        a {
          img {
            margin-right: 0 !important;
          }
        }
      }
    }
  }

  footer{
    nav.footer-nav.navbar{
      &:after {
        left: 15%;
      }
      ul{
        li{
          a{
            font-size: 13px;
          }
        }
      }
    }
    .socials{
      a:nth-of-type(3){
        margin-right: 0;
      }
    }
  }

  .animal_section {
    .section_title{
      text-align: center;
      font-size: 22px;
      line-height: 1.2;
    }
    .link_to_all{
      text-align: center;
      margin-bottom: 18px;
    }
  }

  .home_posts {
    .section_title{
      text-align: center;
      font-size: 22px;
      line-height: 1.2;
    }
    .link_to_all{
      text-align: center;
      margin-bottom: 18px;
    }
    .small_thumb,.big_thumb{
      .post_thmb_title{
        font-size: 15px;
      }
      .media{
        .media-body{
          .post_date_thumb{
          }
          .post_thmb_title{
            font-size: 15px;
          }
        }
      }
    }
  }

  .home-filters .main_filter .search input {
    font-size: 18px;
  }

  section.articles-section{
    .posts-articles-section{
      .small_thumb{
        .media{
          .img_thmb{
            width: 129px;
            padding-top: 129px;
          }
        }
      }
    }
  }

  section.single-articles-section{
    .posts-articles-section{
      .txt{
        .post_thmb_title{
          font-size: 18px;
        }
        .post_thmb_description{
          p{
            font-size: 13px;
          }
        }
      }
    }
  }
}  //XS = from 575px and less (Class prefix .col-)


//439px
@media screen and (max-width: 439px) {
  .animal_section {
    .animal_thumb {
      .single_animal_thumb {
        margin-right: 0;
      }
    }
  }
  .home-filters .main_filter .search input {
    font-size: 15px;
  }

  section.articles-section{
    .posts-articles-section{
      .txt-mobversion{
        .post_thmb_title{
          margin-bottom: 10px;
        }
        .post_thmb_direction{
          margin-top: 10px;
        }
      }
      .small_thumb{
        .media{
          .img_thmb{
            width: 122px;
            padding-top: 122px;
          }
          .media-body{
            .read-more{
              display: block;
              text-align: left;
            }
            .like-it{
              display: block;
              float: none;
              text-align: left;
            }
          }
          .post_thmb_direction{
            margin-top: 10px;
          }
          .post_thmb_title{
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  .pagination-block-wrap{
    .more-articles-btn{
    }
    .pagination-block-wrap-1{
      text-align: center !important;
    }
    .pagination-block-wrap-2{
      text-align: center !important;
    }
  }

  section.single-articles-section{
    .posts-articles-section{
      .txt{
        padding: 18px 15px 82px 15px !important;
        .post_thmb_direction{
          margin-top: 1px;
          .comment-it{
            display: inline-block;
            width: 100%;
            text-align: center;
          }
          .social-link{
            display: inline-block;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }

} //439px

//399px
@media screen and (max-width: 399px) {
  .post_thmb_title {
    font-size: 18px;
  }

  .home-filters {
    h2.section_title {
      font-size: 22px !important;
      text-align: center;
    }
    .main_filter {
      .input-group.search{
      }
      button, a{
        width: 100%;
      }
    }
    .animal_filters {
      .animal{
      }
    }
  }
  .header{
    .header-left{
      .logo{
        a{
          span{
            font-size: 28px;
          }
        }
      }
    }
  }

  footer{
    nav.footer-nav.navbar{
      &:after {
        left: -8%;
      }
      ul{
        li{
            margin-right: 9px;
        }
      }
    }
  }

  section.about-us-section{
    .about-us-to-contacts-btn{
      width: 100%;
    }
    .about-us-info-wrap{
      p{
        font-size: 13px;
      }
    }
    .accordion-custom-grid-wrap{
      .accordion-custom{
        .card{
          .card-header{
            h5{
              font-size: 13px;
            }
          }
        }
        .card-body{
          font-size: 13px;
        }
      }
      h6{
        font-size: 13px;
      }
    }
  }

  section.contacts_section{
    .contact-info-wrap{
      form[name=contact_us_home_form]{
        button[name=btn_submit_contact_us_home_form]{
          width: 100%;
        }
      }
    }
  }

  .home_posts {
    .section_title{
    }
    .link_to_all{
    }
    .small_thumb,.big_thumb{
      .post_thmb_title{
        font-size: 13px;
      }
      .media{
        .media-body{
          .post_date_thumb{
          }
          .post_thmb_title{
            font-size: 13px;
          }
        }
      }
    }
  }

  section.articles-section{
    .posts-articles-section{
      .small_thumb{
        .media{
          .img_thmb{
          }
          .media-body{
            .like-it{
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  section.right-sidebar{
    form.articles-filter-form{
      input.articles-filter-form-input{
        font-size: 15px;
      }
    }
  }

  section.single-articles-section{
    .posts-articles-section{
      .txt{
        .post_thmb_title{
        }
        .post_thmb_description{
          p{
            text-align: left;
          }
        }
      }
    }
  }

}  //399px
